/*-------------------------
  コメント
-------------------------*/
#comments {
	margin-top: 30px;
	border-radius: 5px;
	#respond {
		margin-top: 30px;
		border: 1px solid #C0C1C0;
		margin-bottom: 20px;
		background: #F2F2F2;
		padding: 5px;
		#reply-title{
			background: #878787;
			line-height: 2em;
			margin: 0;
			color: #FFF;
			padding-left: 15px;
			border-bottom: 5px solid #FFF;
			font-size: 16px;
			font-weight: normal;
		}
		#commentform{
			background: #FFF;
			margin-bottom: 0;
			p{
				clear:both;
				overflow: hidden;
				padding: 5px 20px 0;
				margin: 0;
				border-bottom: 1px solid #C0C1C0;
				label {
					float: left;
					width: 30%;
					line-height: 30px;
				}
				.required{
					float: left;
					color: red;
					display: inline-block;
					margin-right: 4px;
				}
				input,textarea{
					float: left;
					border: 1px solid #9A9CA4;
					box-shadow: none;
					margin-bottom: 5px;
				}
				textarea{
					width: 66%;
				}
			}
			.form-submit {
				text-align: center;
				#submit{
					float: none;
					margin-top:6px;
					background: #FFF;
					line-height:1.4em;
					text-decoration:none;
					border-radius: 3px;
					font-size: 14px;
					padding-top: 4px;
				}
			}
			.logged-in-as {
				padding-bottom: 5px;
				font-size: 12px;
			}
		}
	}
	ul {
		margin-left: 0;
		li{
			border: 1px solid #C0C1C0;
			margin-bottom: 20px;
			background: #F2F2F2;
			padding: 5px;
			list-style: none;
			h4{
				background: #878787;
				line-height: 2em;
				margin: 0;
				color: #FFF;
				padding-left: 15px;
				border-bottom: 5px solid #FFF;
				font-size: 16px;
			}
			.coments-meta {
				width: auto;
				background: #FFF;
				border-top: 1px solid #C0C1C0;
				border-bottom: 1px solid #C0C1C0;
				padding: 7px 15px 0;
				font-size: 9px;
				p{
					margin-bottom: 5px;
				}
			}
			.compost{
				background: #FFF;
				padding: 10px;
			}
		}
	}
}
#commentform textarea {
		margin-bottom: 15px;
}


/*-------------------------
  トラックバック
-------------------------*/
#trackback {
        margin-top: 30px;
        border: 1px solid #C0C1C0;
        margin-bottom: 20px;
        background: #F2F2F2;
        padding: 5px;
    input {
        width: 98%;
        height: 40px;
        margin-bottom: 0;
    }
    h3 {
            background: #878787;
            line-height: 2em;
            margin: 0;
            color: #FFF;
            padding-left: 15px;
            border-bottom: 5px solid #FFF;
            font-size: 16px;
            font-weight: normal;
    }

}
/*-------------------------
  フェイスブックコメント
-------------------------*/
