/**
 * navbar
 */

.navbar {
	ul#menu-all-pages{
		li{
			a{
				border-bottom-width: 1px;
				border-bottom-style: solid;
				border-left-width: 1px;
				border-left-style: solid;
				trans-webkit-transition: all ease-in 0.1s;
				-moz-transition: all ease-in 0.1s;
				-ms-transition: all ease-in 0.1s;
				-o-transition: all ease-in 0.1s;
				transition: all ease-in 0.1s;
				-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
				        box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
				text-align: center;
				.description{
					width: 100%;
					display: block;
					line-height: 2em;
					vertical-align: middle;
					font-size: 0.6em;
					margin-top: 2px;
				}
			}
		}
	}
}
