/**
 * less for Footer
 */

#page-jump {
  position: fixed;
  bottom: 15px;
  right: 15px;
  a:hover {
    opacity: 0.9;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
    background: none !important;
  }
}

/**
 * ================================
 * Footer
 * ================================
 */

.footer {
	// min-width: 950px;
	// Footer area
	.footer--area {
		margin: 0 auto;
		padding: 30px 20px 15px;
		overflow: hidden;
		// Footer Column
		.footer--column {
			// width: 21%;
			// margin-left: 2.6%;

			// Footer First Column
			&.footer--column01 {
				float: left;
				// width: 25%;
				a {
					img{
						&.banner {
							margin-bottom: 15px;
							max-width: 100%;
							height: auto;
							width : auto;
						}
					}
				}
			}
			// widget parts
			.widget--block{
				img{
					max-width: 100% !important;
				}
				.widget--title{
					border-bottom: medium none!important;
					border-left: medium none;
					border-right: medium none !important;
					border-top: medium none !important;
					font-weight: 100;
					padding-left: 1em;
					margin-top: 0;
					margin-bottom: 0.5em;
					padding-top: 0;
				}
				ul {
					margin-left: 0;
					li {
						list-style: none;
						a {
							display: block;
							padding-left: 1.6em;
							// line-height: 2.3em;
							border-bottom: 1px dotted #ccc;
							background-image: url("../images/footer_list_icon.png");
							background-position: left 1.2em;
							background-repeat:  no-repeat;
							// background-position: 0.2em 0.9em;
							&:hover{
								// background-color: #e8e8e8;
								text-decoration: none;
							}
						}
					}
				}
			}
		}
		#movie-widget {
			iframe {
				width: 100% !important;
			}
		}
	}
	.entryicon {
		h3 {
			a {
				color: #999;
			}
		}
		.metadate {
			color: #999;
		}
	}
	.textwidget {
		color: #fff;
	}
	.copyright {
		clear: both;
		background: #333333;
		p {
			text-align: center;
			font-size: 0.8em;
			margin-bottom: 0;
		}
	}
	.copyright a {
		color: #fff;
		text-decoration: none;
		line-height: 35px;
	}
}

// トップへ戻る

.scroll-to-top.shown {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.scroll-to-top {
	position: fixed;
	bottom: 1em;
	right: 1em;
	color: white;
	padding: 1em;
	font-weight: bold;
	cursor: pointer;
	opacity: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
	&:hover{
		text-decoration: none;
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
	}
}
