/*
#ヘッダー

ヘッダー関連のCSSです。

*/
.header {
	width: 100%;
	background: #FFF;
	min-height: 100px;
	&.squeeze {
		min-height: auto;
	}
	#logo.default{
		margin:0;
	}
	.logo-text {
		margin-top: 20px;
		margin-left: 20px;
	}
	.header-description {
		background: #061d3f;
		padding-top: 3px;
		margin-bottom: 0;
		line-height: 1.8em;
		padding-left: 1em;
		font-size: 1em;
		span {
		  color: #FFF;
		}
	}
	.absolute-desc {
		position: absolute;
		background: none !important;
	}
	h1 {
		font-size: 24px;
		margin-top: 0;
		margin-bottom: 0;
	}
}
/*
#パンくず

パンくずのCSSです。

*/
.info-bar {
  height: 22px;
  border-bottom: 1px solid #DDDDDD;
  background: #f5f5f5;
  padding: 4px 0 0 20px;
  p {
    margin-bottom: 0;
    span.red.b {
      color: red;
    }
  }
  #breadcrumb {
    overflow: hidden;
    background: url(../images/home.gif) no-repeat left center;
    padding-left: 15px;
    li {
      float: left;
    }
  }
}
