/**
 * =========================
 * Modules less
 * =========================
 */


/**
 * Widget Title
 * =====================
 */

// Main Column Widget Titlte
.contents{
	.widget--title{
	}
}

.widget--title {
	margin-top: 0;
	padding-left: 1em;
	img {
		margin: 10px 0;
	}
  .wrap-button{
		font-size: 0.8em;
		display: inline-block;
		text-align: right;
		margin-right: 0.4em;
		float: right;
		.button-all{
			background-color: #FFF;
			border: 1px solid #CCC;
			text-decoration: none;
			padding: 3px 5px;
      font-size: 0.6em;
			line-height: 1.2em;
			-webkit-border-radius: 2px;
			        border-radius: 2px;
		}
  }
}

/**
 * Search Form
 * =====================
 */

// 検索
#sub #s, .footer #s {
    width: 75%;
    background: #FFF;
}


#related {
    margin-top: 30px;
    margin-bottom: 30px;
    h3 {
        font-weight: bold;
        border-bottom: 3px solid #09f;
    }
    ul {
        padding: 15px;
        padding-top: 10px;
        li {
            padding-top: 0.5em;
            a {
                color: #09f;
                background: url(../images/navi_icon.png) no-repeat left center;
                padding-left: 14px;
            }
        }
    }
}

.entry-footer{
	.btn{
		-webkit-box-shadow: none;
						box-shadow: none;
		background: #FFF;
	}
}


.textwidget {
    padding: 8px 0;
}


.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
