/*-------------------------
	サイドバー
-------------------------*/
.sidebar {
	width: 25.55%;
	padding: 0 1.25%;
	float: left;
	.widget--block {
		margin-bottom: 15px;
		padding: 0;
		// Widget Title
		.widget--title{
			border-left: medium none;
			border-right: medium none !important;
			border-top: medium none !important;
			// font-size: 1.1em;
			// font-weight: 100;
			// line-height: 2.2em;
			padding-left: 0.6em;
			margin-top: 0;
			margin-bottom: 0.5em;
			padding-top: 0;
		}
		// List Style
		ul {
			margin: 5px auto;
			li {
				list-style-type: none;
				border-bottom: 1px dotted #ccc;
				a {
					-webkit-transition: all ease-out 0.1s;
					-moz-transition: all ease-out 0.1s;
					-ms-transition: all ease-out 0.1s;
					-o-transition: all ease-out 0.1s;
					transition: all ease-out 0.1s;
					background-image: url("../images/side_icon.png");
					background-repeat:  no-repeat;
					background-position: left center;
					display: block;
					padding: 0.5em 0;
					padding-left: 2em;
					&:hover{
						text-decoration: none;
					}
				}
			}
			// Nested List Style
			&.children {
				padding: 0;
				li {
						border-bottom: none;
						border-top: 1px dotted #ccc;
				}
			}
		}
		.entryicon {
			margin: 0 auto 15px;
		}
		img{
			max-width: 100% !important;
		}
	}
	#movie-widget {
		iframe {
				width: 100% !important;
		}
	}
	.pickup2 .more {
		position: relative;
		text-align: right;
		bottom: auto;
		right: auto;
	}
}
