/**
 * Base less file
 */
* {
	box-sizing: border-box;
	word-break: break-all;
}

#wrapper {
	overflow: hidden;
	margin: 0 auto;
	-webkit-box-shadow: 0 4px 7px rgba( 0,0,0,0.4 );
	   -moz-box-shadow: 0 4px 7px rgba( 0,0,0,0.4 );
	        box-shadow: 0 4px 7px rgba( 0,0,0,0.4 );
	background: #fff;
	.wrap {
		display: inline-block;
		width: 100%;
		zoom: 1;
		padding: @columnPadding;
	}
	.contents {
		padding-bottom: 3em;
	}
}

#top {
	height: 248px;
	border: 1px solid #d5d5d5;
	position: relative;
	margin-bottom: 15px;
	width: 668px;
	overflow: hidden;
	.thumb {
		float: left;
		padding: 1px;
		border: 1px solid #d5d5d5;
	}
	.excerpt {
		margin-left: 430px;
		padding-top: 6px;
		.more {
			position: absolute;
			bottom: -3px;
			right: 0;
			position: relative;
		}
		p {
			font-size: 0.8em;
		}
		.new {
			padding: 0 5px;
			color: #fff;
			background: #c00;
			display: inline-block;
			font-size: 0.8em;
		}
		h2 {
			font-weight: bold;
			margin: 1em 0;
			a {
			}
		}
	}
}
.pickup a:hover img,
.entryicon a:hover img {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=6000);
}


/*
##トップページ 最新のお知らせ

*/
#newposts {
	border-radius: 5px;
	border: 1px solid #d5d5d5;
	padding: 0;
	margin-bottom: 15px;
	background: url(../images/contents_in_back.gif) repeat-x bottom;
	ul {
		border-top: 1px solid #d5d5d5;
		margin: 0 15px;
		margin-bottom: 15px;
		padding-top: @columnPadding;
		li {
			padding-top: 0.5em;
			margin: 0;
			a {
				background: url("../images/navi_icon.png") no-repeat left center;
				padding-left: 14px;
			}
		}
	}
	.more {
		margin: 15px;
		text-align: right;
	}
	.post {
		float: left;
		width: 33%;
		text-align: center;
		margin-bottom: 15px;
		padding: 0 !important;
		h3 {
			border: none !important;
			font-weight: normal !important;
			font-size: .9em !important;
			line-height: normal !important;
			text-align: center;
			width: 120px;
			margin: 3px auto 0;
		}
		.metadate {
			text-align: center;
			width: 120px;
			margin: 0 auto;
			font-size: .9em;
		}
		.thumb {
			padding: 1px;
			border: 1px solid #d5d5d5;
			width: 120px;
			margin: 0 auto;
		}
	}
	.midasi {
		margin-bottom: 15px;
		font-weight: 700;
		line-height: 37px;
		border-top: none !important;
		border-right: none !important;
		border-left: none !important;
		padding-top: 3px;
		padding-left: 35px;
		background: url("../images/h2_back.gif") left center no-repeat;
		border-bottom: 3px solid transparent;
	}
}


.span3 ul, .span3 ul {
	margin-bottom: 15px;
}


#wp-calendar {
	th {
		font-size: 1.3em;
		text-align: center;
	}
}


#prevBtn img:hover, #nextBtn img:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	background: none !important;
}
li.banner-widget {
	float: left;
	margin-left: @columnPadding;
	max-width: 100%;
}

.focus {
	color: #333 !important;
}
form {
	margin: @columnPadding 0;
}
.pagelink {
	margin-top: 30px;
	padding-top: 15px;
	border-top: 1px dashed #ccc;
}

.twitter {
	margin-bottom: 15px;
}
#s {
	background: #FFF;
	border: 1px solid #CCC;
	padding: @columnPadding;
	color: #666;
	font-size: 12px;
	border-radius: 5px;
}

#pagenation li.active, #pagenation li:hover {
	background: #09f;
}
.pickup2 {
	padding: 8px;
	position: relative;
	h3 {
		font-weight: bold;
		margin: 8px 0;
	}
	.metadate {
		font-size: .9em;
	}
	.more {
		position: absolute;
		bottom: 8px;
		right: 8px;
	}
	img {
		float: left;
		margin-right: 8px;
		padding: 1px;
		border: 1px solid #d5d5d5;
	}
	p {
		font-size: 0.8em;
	}
}

#next {
	float: right;
}
.archive .thumb, .search .thumb {
	float: left;
	padding: 1px;
	border: 1px solid #d5d5d5;
	margin-right: 15px;
}
#searchbutton {
	margin-bottom: -3px;
	margin-left: -30px;
}

#nextBtn {
	position: absolute;
	top: 40%;
	right: 0;
	cursor: pointer;
	z-index: 9999;
}

#searchform {
	height: 30px;
	padding: 15px 0;
}

.contents{
	.widget {
		border-radius: 5px;
		margin-bottom: 15px;
		ul {
			li {
				padding-top: 0.5em;
				a {
					background: url("../images/side_icon.png") no-repeat left center;
					padding-left: 14px;
				}
				a.url {
					background: none;
					padding-left: 0;
				}
			}
		}
		ul.children {
			background: none;
			padding: 0;
		}
	}
}
