.wrap{
	// two column
	&.two-column{
		// two column ( right sidebar )
		&.sidebar-right{
			.sidebar-right{
				float: left;
				padding-right: 0;
			}
			.two-column{
				border-right: 1px solid @columnBorderColor;
				padding: 0px @columnPadding 0px 0px;
				float: left;
			}
		}
		// two column ( left sidebar )
		&.sidebar-left{
			.sidebar-left{
				padding-left: 0;
				float: left;
			}
			.two-column{
				border-left: 1px solid @columnBorderColor;
				padding: 0px 0px 0px @columnPadding;
				float: left;
			}
		}
	}
	&.three-column{
		.sidebar{
			&.sidebar-left{
				width: 23.5%;
				float: left;
				padding: 0px @columnPadding @columnPadding @columnPadding;
				border-right: 1px solid @columnBorderColor;
			}
			&.sidebar-right{
				width: 23.5%;
				float: left;
				border-left: 1px solid @columnBorderColor;
				padding: 0px @columnPadding @columnPadding @columnPadding;
			}
		}
		.three-column{
				width: 53%;
				float: left;
				padding: 0px @columnPadding @columnPadding @columnPadding;
		}
	}
}
