body{
	font-size: 0.9em;
}

/**
 * layout
 */

.container{
	max-width: 100% !important;
}

.header{
	-webkit-background-size: 100% auto;
	     -o-background-size: 100% auto;
	        background-size: 100% auto;
}

.sidebar{
	max-width: 100%;
	width: 100%;
	float: none;
	padding-left: 0;
}

.contents{
	max-width: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

/**
 * navbar
 */

.navbar{
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 8px;
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	.nav-collapse{
		ul#menu-all-pages{
			li{
				a{
					width: 100%;
					padding: 5px 0px 5px 0px;
					.description{
						width: 80%;
						margin-left: auto;
						margin-right: auto;
					}
				}
			}
		}
	}
}

.footer {
	min-width: 100%;
	// Footer area
	.footer--area {
		margin: 0 auto;
		padding: 10px;
		overflow: hidden;
		// Footer Column
		.footer--column {
			width: 97%;
			// margin-left: 2.6%;
		}
	}
}
