/**
 * Infomartion bar
 */
.information-bar{
	background: #F5F5f5;
	margin-bottom: @columnPadding;
	padding: @columnPadding;
	overflow: hidden;
	.ticker--label{
		line-height: 1.8em;
		width: 10%;
		font-size: 12px;
		float: left;
		text-align: center;
		display: block;
	}
	ul{
		margin-bottom: 0;
		float: right;
		width: 80%;
		li{
			// display: inline-block;
			list-style: none;
			margin-left: 2em;
			line-height: 1.4em;
		}
	}
}

@media ( max-width: 400px ){
	.information-bar{
		.ticker--label{
			display: none;
		}
		ul{
			float: none;
			width: 100%;
		}
	}
}
