/**
 * ==============================
 * Archive Page Less Files
 * ==============================
 */

.article--title {
	font-size: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 13px;
	border-bottom: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
	margin-top: 0;
	font-weight: bold;
}

.article--contents{
	margin-top: 20px;
	margin-bottom: 20px;
	// margin-left: 20px;
}

.article--footer {
	text-align: right;
	padding-right: 20px;
	margin-bottom: 20px;
	.meta {
		span {
			display: inline-block;
		}
	}
}

