.contents.no_sidebar {
    width: 95%;
    margin: 0 auto;
    padding: 0px 0px 40px;
    float: none;
    h3.title {
        margin: 80px 0 30px;
        color: #ff0000;
        font-size: 1.6em;
        text-align: center;
        border: none;
    }
    #sns {
        text-align: center;
        border-top: 1px dashed #ccc !important;
        padding: 30px 0;
        margin: 60px 0;
    }
    a {
        color: #2ca9e1;
    }
    .post-single-bookmarks {
        display: inline-block;
    }
    h2 {
        padding: 15px;
        margin-bottom: 30px;
        border-bottom: 1px solid #ccc !important;
        color: #666;
        text-align: center;
    }
}
