/**
 * ==============================
 * Static Page Less File
 * ==============================
 */

.page--title {
	font-size: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 13px;
	border-bottom: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
	margin-top: 0;
	font-weight: bold;
}

.page--contents{
	margin-top: 20px;
	margin-bottom: 20px;
}

.page--footer {
	text-align: right;
	padding-right: 20px;
	margin-bottom: 20px;
	.meta {
		span {
			display: inline-block;
		}
	}
}

.page {
	#sns {
		text-align: center;
		border-top: 1px dashed #ccc !important;
		padding: 30px 0;
		margin: 30px 0;
	}
	.post-single-bookmarks {
		display: inline-block;
	}
	.post {
		padding: 0 15px;
	}
	.title {
		font-size: 1.2em;
		font-weight: bold;
		margin-bottom: 30px;
		border-top: 1px dashed #ccc !important;
		border-bottom: 3px solid #09f;
		padding: 15px;
		background: #ffffff;
		background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
		background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
		background: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
		background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
		background: linear-gradient(top, #ffffff 0%, #eeeeee 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );
	}
}
