/**
 * ==============================
 * Single Post Less File
 * ==============================
 */

.single--title {
	font-size: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 13px;
	border-bottom: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
	font-weight: bold;
	margin-top: 0;
}

.single--contents{
	margin-top: 20px;
	margin-bottom: 20px;
}

.single--footer {
	text-align: right;
	padding-right: 20px;
	margin-bottom: 20px;
	.meta {
		span {
			display: inline-block;
		}
	}
}

.contents {
    // width: 67.5%;
    // float: right;
    // padding: 0 1.8%;
  .post {
      h3 {
          color: #444;
          font-size: 1.1em;
          margin: 75px 0 30px;
          padding: 0 4px 0;
          line-height: 36px;
          border-bottom: 1px solid #ccc;
      }
      h4 {
          color: #555;
          margin: 40px 0 20px;
          padding: 0 0 0 10px;
          line-height: 30px;
          border-left: 5px groove #ccc;
      }
      li {
          list-style: square;
          margin-left: 1em;
      }
  }
}
.post-single-facebook {
    display: inline;
    float: left;
}
.post-single-hatena {
    display: inline;
    float: left;
    margin-right: 10px;
}

.post-single-twitter {
    display: inline;
    float: left;
    margin-right: -30px;
}
.post-single-mixi {
    margin-right: 10px;
    float: left;
    display: inline;
}
#pagenation {
    text-align: center;
    height: 15px;
    height: 9px;
    overflow: hidden;
    position: absolute;
    bottom: 6px;
    left: 50%;
    li {
        cursor: pointer;
        display: inline-block;
        height: 9px;
        width: 9px;
        margin-top: 3px;
        margin: 0 3px;
        background: #d5d5d5;
        text-indent: -9999px;
        float: left;
    }
}
.single {
    .thumb {
        float: left;
        padding: 1px;
        border: 1px solid #d5d5d5;
        margin: 0px 10px 10px 0px;
    }
    .post-single-bookmarks {
        float: right;
    }
    .head {
        border-bottom: 3px solid #09f;
        margin-bottom: 30px;
        padding-bottom: 15px;
        border-top: 3px solid #09f;
    }
    .post {
        padding: 0px;
    }
    .contents {
        .meta{
            margin: 20px 0;
            border-top: 1px solid #e8e8e8;
            border-bottom: 1px solid #e8e8e8;
            padding: 10px 0;
            .metadate {
                margin-left: 10px;
                line-height: 1.2em;
            }
            .postdate {
                margin-left: 10px;
                line-height: 1.2em;
            }
            .comments{
                margin-left: 10px;
            }
        }

    }
    .title {
        font-weight: bold;
        margin: 15px 0;
        font-size: 1.2em;
    }
    .contents.right_sidebar{
        float: left;
        overflow: hidden;
    }
}
#prev {
    float: left;
}

#prevBtn {
    position: absolute;
    top: 40%;
    left: 0;
    cursor: pointer;
    z-index: 9999;
}
.contents {
	*{
		max-width: 100%;
	}
	dl{
		dt{
			background: #e8e8e8;
			padding-left: 1em;
			padding-right: 1em;
			border-radius: 3px 3px 0 0;
			line-height: 3em;
		}
		dd{
			padding: 1em;
			line-height: 1.9em;
			border: 1px solid #e8e8e8;
			margin-left: 0;
			margin-bottom: 1em !important;
			border-bottom: 2px solid #e8e8e8;
			border-radius: 0 0 3px 3px;
		}
	}
	img{
		max-width: 100%;
	}
}
