/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**
 * Base less file
 */
* {
  box-sizing: border-box;
  word-break: break-all;
}
#wrapper {
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  background: #fff;
}
#wrapper .wrap {
  display: inline-block;
  width: 100%;
  zoom: 1;
  padding: 1em;
}
#wrapper .contents {
  padding-bottom: 3em;
}
#top {
  height: 248px;
  border: 1px solid #d5d5d5;
  position: relative;
  margin-bottom: 15px;
  width: 668px;
  overflow: hidden;
}
#top .thumb {
  float: left;
  padding: 1px;
  border: 1px solid #d5d5d5;
}
#top .excerpt {
  margin-left: 430px;
  padding-top: 6px;
}
#top .excerpt .more {
  position: absolute;
  bottom: -3px;
  right: 0;
  position: relative;
}
#top .excerpt p {
  font-size: 0.8em;
}
#top .excerpt .new {
  padding: 0 5px;
  color: #fff;
  background: #c00;
  display: inline-block;
  font-size: 0.8em;
}
#top .excerpt h2 {
  font-weight: bold;
  margin: 1em 0;
}
.pickup a:hover img,
.entryicon a:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=6000);
}
/*
##トップページ 最新のお知らせ

*/
#newposts {
  border-radius: 5px;
  border: 1px solid #d5d5d5;
  padding: 0;
  margin-bottom: 15px;
  background: url(../images/contents_in_back.gif) repeat-x bottom;
}
#newposts ul {
  border-top: 1px solid #d5d5d5;
  margin: 0 15px;
  margin-bottom: 15px;
  padding-top: 1em;
}
#newposts ul li {
  padding-top: 0.5em;
  margin: 0;
}
#newposts ul li a {
  background: url("../images/navi_icon.png") no-repeat left center;
  padding-left: 14px;
}
#newposts .more {
  margin: 15px;
  text-align: right;
}
#newposts .post {
  float: left;
  width: 33%;
  text-align: center;
  margin-bottom: 15px;
  padding: 0 !important;
}
#newposts .post h3 {
  border: none !important;
  font-weight: normal !important;
  font-size: .9em !important;
  line-height: normal !important;
  text-align: center;
  width: 120px;
  margin: 3px auto 0;
}
#newposts .post .metadate {
  text-align: center;
  width: 120px;
  margin: 0 auto;
  font-size: .9em;
}
#newposts .post .thumb {
  padding: 1px;
  border: 1px solid #d5d5d5;
  width: 120px;
  margin: 0 auto;
}
#newposts .midasi {
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 37px;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  padding-top: 3px;
  padding-left: 35px;
  background: url("../images/h2_back.gif") left center no-repeat;
  border-bottom: 3px solid transparent;
}
.span3 ul,
.span3 ul {
  margin-bottom: 15px;
}
#wp-calendar th {
  font-size: 1.3em;
  text-align: center;
}
#prevBtn img:hover,
#nextBtn img:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  background: none !important;
}
li.banner-widget {
  float: left;
  margin-left: 1em;
  max-width: 100%;
}
.focus {
  color: #333 !important;
}
form {
  margin: 1em 0;
}
.pagelink {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px dashed #ccc;
}
.twitter {
  margin-bottom: 15px;
}
#s {
  background: #FFF;
  border: 1px solid #CCC;
  padding: 1em;
  color: #666;
  font-size: 12px;
  border-radius: 5px;
}
#pagenation li.active,
#pagenation li:hover {
  background: #09f;
}
.pickup2 {
  padding: 8px;
  position: relative;
}
.pickup2 h3 {
  font-weight: bold;
  margin: 8px 0;
}
.pickup2 .metadate {
  font-size: .9em;
}
.pickup2 .more {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
.pickup2 img {
  float: left;
  margin-right: 8px;
  padding: 1px;
  border: 1px solid #d5d5d5;
}
.pickup2 p {
  font-size: 0.8em;
}
#next {
  float: right;
}
.archive .thumb,
.search .thumb {
  float: left;
  padding: 1px;
  border: 1px solid #d5d5d5;
  margin-right: 15px;
}
#searchbutton {
  margin-bottom: -3px;
  margin-left: -30px;
}
#nextBtn {
  position: absolute;
  top: 40%;
  right: 0;
  cursor: pointer;
  z-index: 9999;
}
#searchform {
  height: 30px;
  padding: 15px 0;
}
.contents .widget {
  border-radius: 5px;
  margin-bottom: 15px;
}
.contents .widget ul li {
  padding-top: 0.5em;
}
.contents .widget ul li a {
  background: url("../images/side_icon.png") no-repeat left center;
  padding-left: 14px;
}
.contents .widget ul li a.url {
  background: none;
  padding-left: 0;
}
.contents .widget ul.children {
  background: none;
  padding: 0;
}
/*
#ヘッダー

ヘッダー関連のCSSです。

*/
.header {
  width: 100%;
  background: #FFF;
  min-height: 100px;
}
.header.squeeze {
  min-height: auto;
}
.header #logo.default {
  margin: 0;
}
.header .logo-text {
  margin-top: 20px;
  margin-left: 20px;
}
.header .header-description {
  background: #061d3f;
  padding-top: 3px;
  margin-bottom: 0;
  line-height: 1.8em;
  padding-left: 1em;
  font-size: 1em;
}
.header .header-description span {
  color: #FFF;
}
.header .absolute-desc {
  position: absolute;
  background: none !important;
}
.header h1 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
}
/*
#パンくず

パンくずのCSSです。

*/
.info-bar {
  height: 22px;
  border-bottom: 1px solid #DDDDDD;
  background: #f5f5f5;
  padding: 4px 0 0 20px;
}
.info-bar p {
  margin-bottom: 0;
}
.info-bar p span.red.b {
  color: red;
}
.info-bar #breadcrumb {
  overflow: hidden;
  background: url(../images/home.gif) no-repeat left center;
  padding-left: 15px;
}
.info-bar #breadcrumb li {
  float: left;
}
/**
 * less for Footer
 */
#page-jump {
  position: fixed;
  bottom: 15px;
  right: 15px;
}
#page-jump a:hover {
  opacity: 0.9;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  background: none !important;
}
/**
 * ================================
 * Footer
 * ================================
 */
.footer .footer--area {
  margin: 0 auto;
  padding: 30px 20px 15px;
  overflow: hidden;
}
.footer .footer--area .footer--column.footer--column01 {
  float: left;
}
.footer .footer--area .footer--column.footer--column01 a img.banner {
  margin-bottom: 15px;
  max-width: 100%;
  height: auto;
  width: auto;
}
.footer .footer--area .footer--column .widget--block img {
  max-width: 100% !important;
}
.footer .footer--area .footer--column .widget--block .widget--title {
  border-bottom: medium none!important;
  border-left: medium none;
  border-right: medium none !important;
  border-top: medium none !important;
  font-weight: 100;
  padding-left: 1em;
  margin-top: 0;
  margin-bottom: 0.5em;
  padding-top: 0;
}
.footer .footer--area .footer--column .widget--block ul {
  margin-left: 0;
}
.footer .footer--area .footer--column .widget--block ul li {
  list-style: none;
}
.footer .footer--area .footer--column .widget--block ul li a {
  display: block;
  padding-left: 1.6em;
  border-bottom: 1px dotted #ccc;
  background-image: url("../images/footer_list_icon.png");
  background-position: left 1.2em;
  background-repeat: no-repeat;
}
.footer .footer--area .footer--column .widget--block ul li a:hover {
  text-decoration: none;
}
.footer .footer--area #movie-widget iframe {
  width: 100% !important;
}
.footer .entryicon h3 a {
  color: #999;
}
.footer .entryicon .metadate {
  color: #999;
}
.footer .textwidget {
  color: #fff;
}
.footer .copyright {
  clear: both;
  background: #333333;
}
.footer .copyright p {
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 0;
}
.footer .copyright a {
  color: #fff;
  text-decoration: none;
  line-height: 35px;
}
.scroll-to-top.shown {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.scroll-to-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  color: white;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
  opacity: 0;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.scroll-to-top:hover {
  text-decoration: none;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
/*-------------------------
	サイドバー
-------------------------*/
.sidebar {
  width: 25.55%;
  padding: 0 1.25%;
  float: left;
}
.sidebar .widget--block {
  margin-bottom: 15px;
  padding: 0;
}
.sidebar .widget--block .widget--title {
  border-left: medium none;
  border-right: medium none !important;
  border-top: medium none !important;
  padding-left: 0.6em;
  margin-top: 0;
  margin-bottom: 0.5em;
  padding-top: 0;
}
.sidebar .widget--block ul {
  margin: 5px auto;
}
.sidebar .widget--block ul li {
  list-style-type: none;
  border-bottom: 1px dotted #ccc;
}
.sidebar .widget--block ul li a {
  -webkit-transition: all ease-out 0.1s;
  transition: all ease-out 0.1s;
  background-image: url("../images/side_icon.png");
  background-repeat: no-repeat;
  background-position: left center;
  display: block;
  padding: 0.5em 0;
  padding-left: 2em;
}
.sidebar .widget--block ul li a:hover {
  text-decoration: none;
}
.sidebar .widget--block ul.children {
  padding: 0;
}
.sidebar .widget--block ul.children li {
  border-bottom: none;
  border-top: 1px dotted #ccc;
}
.sidebar .widget--block .entryicon {
  margin: 0 auto 15px;
}
.sidebar .widget--block img {
  max-width: 100% !important;
}
.sidebar #movie-widget iframe {
  width: 100% !important;
}
.sidebar .pickup2 .more {
  position: relative;
  text-align: right;
  bottom: auto;
  right: auto;
}
/**
 * =========================
 * Modules less
 * =========================
 */
/**
 * Widget Title
 * =====================
 */
.widget--title {
  margin-top: 0;
  padding-left: 1em;
}
.widget--title img {
  margin: 10px 0;
}
.widget--title .wrap-button {
  font-size: 0.8em;
  display: inline-block;
  text-align: right;
  margin-right: 0.4em;
  float: right;
}
.widget--title .wrap-button .button-all {
  background-color: #FFF;
  border: 1px solid #CCC;
  text-decoration: none;
  padding: 3px 5px;
  font-size: 0.6em;
  line-height: 1.2em;
  border-radius: 2px;
}
/**
 * Search Form
 * =====================
 */
#sub #s,
.footer #s {
  width: 75%;
  background: #FFF;
}
#related {
  margin-top: 30px;
  margin-bottom: 30px;
}
#related h3 {
  font-weight: bold;
  border-bottom: 3px solid #09f;
}
#related ul {
  padding: 15px;
  padding-top: 10px;
}
#related ul li {
  padding-top: 0.5em;
}
#related ul li a {
  color: #09f;
  background: url(../images/navi_icon.png) no-repeat left center;
  padding-left: 14px;
}
.entry-footer .btn {
  box-shadow: none;
  background: #FFF;
}
.textwidget {
  padding: 8px 0;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
/**
 * navbar
 */
.navbar ul#menu-all-pages li a {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  trans-webkit-transition: all ease-in 0.1s;
  -webkit-transition: all ease-in 0.1s;
          transition: all ease-in 0.1s;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.navbar ul#menu-all-pages li a .description {
  width: 100%;
  display: block;
  line-height: 2em;
  vertical-align: middle;
  font-size: 0.6em;
  margin-top: 2px;
}
/*-------------------------
  コメント
-------------------------*/
#comments {
  margin-top: 30px;
  border-radius: 5px;
}
#comments #respond {
  margin-top: 30px;
  border: 1px solid #C0C1C0;
  margin-bottom: 20px;
  background: #F2F2F2;
  padding: 5px;
}
#comments #respond #reply-title {
  background: #878787;
  line-height: 2em;
  margin: 0;
  color: #FFF;
  padding-left: 15px;
  border-bottom: 5px solid #FFF;
  font-size: 16px;
  font-weight: normal;
}
#comments #respond #commentform {
  background: #FFF;
  margin-bottom: 0;
}
#comments #respond #commentform p {
  clear: both;
  overflow: hidden;
  padding: 5px 20px 0;
  margin: 0;
  border-bottom: 1px solid #C0C1C0;
}
#comments #respond #commentform p label {
  float: left;
  width: 30%;
  line-height: 30px;
}
#comments #respond #commentform p .required {
  float: left;
  color: red;
  display: inline-block;
  margin-right: 4px;
}
#comments #respond #commentform p input,
#comments #respond #commentform p textarea {
  float: left;
  border: 1px solid #9A9CA4;
  box-shadow: none;
  margin-bottom: 5px;
}
#comments #respond #commentform p textarea {
  width: 66%;
}
#comments #respond #commentform .form-submit {
  text-align: center;
}
#comments #respond #commentform .form-submit #submit {
  float: none;
  margin-top: 6px;
  background: #FFF;
  line-height: 1.4em;
  text-decoration: none;
  border-radius: 3px;
  font-size: 14px;
  padding-top: 4px;
}
#comments #respond #commentform .logged-in-as {
  padding-bottom: 5px;
  font-size: 12px;
}
#comments ul {
  margin-left: 0;
}
#comments ul li {
  border: 1px solid #C0C1C0;
  margin-bottom: 20px;
  background: #F2F2F2;
  padding: 5px;
  list-style: none;
}
#comments ul li h4 {
  background: #878787;
  line-height: 2em;
  margin: 0;
  color: #FFF;
  padding-left: 15px;
  border-bottom: 5px solid #FFF;
  font-size: 16px;
}
#comments ul li .coments-meta {
  width: auto;
  background: #FFF;
  border-top: 1px solid #C0C1C0;
  border-bottom: 1px solid #C0C1C0;
  padding: 7px 15px 0;
  font-size: 9px;
}
#comments ul li .coments-meta p {
  margin-bottom: 5px;
}
#comments ul li .compost {
  background: #FFF;
  padding: 10px;
}
#commentform textarea {
  margin-bottom: 15px;
}
/*-------------------------
  トラックバック
-------------------------*/
#trackback {
  margin-top: 30px;
  border: 1px solid #C0C1C0;
  margin-bottom: 20px;
  background: #F2F2F2;
  padding: 5px;
}
#trackback input {
  width: 98%;
  height: 40px;
  margin-bottom: 0;
}
#trackback h3 {
  background: #878787;
  line-height: 2em;
  margin: 0;
  color: #FFF;
  padding-left: 15px;
  border-bottom: 5px solid #FFF;
  font-size: 16px;
  font-weight: normal;
}
/*-------------------------
  フェイスブックコメント
-------------------------*/
/**
 * For Widgets
 */
/**
 * categories block
 */
.widget--block.widget_categories ul {
  width: 100%;
  margin: 0px auto;
}
.widget--block.widget_categories ul li a {
  background-image: url(../images/side_category_folder_icon.png);
  background-repeat: no-repeat;
  background-position: left center;
}
/**
 * Category News Widget
 */
.widget_category_news .category_news--area {
  border-bottom: 1px dotted #CCC;
}
.widget_category_news .category_news--area .category_news--thumbnail {
  float: left;
  margin-right: 0.5em;
}
.widget_category_news .category_news--area .category_news--contents {
  margin-left: 0;
}
.widget_category_news .category_news--area .category_news--contents .category_news--title {
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.contents .widget--block.widget_recent_entries ul {
  margin-left: 0;
}
.contents .widget--block.widget_recent_entries ul li {
  padding-left: 20px;
  border-bottom: 1px dotted #CCC;
  padding-bottom: 5px;
}
.contents .widget--block.widget_recent_entries ul li .post-date {
  top: 5px;
  display: block;
  float: left;
  font-size: 13px;
  margin-right: 10px;
}
.sidebar .widget--block.widget_recent_entries ul li,
.footer .widget--block.widget_recent_entries ul li {
  position: relative;
}
.sidebar .widget--block.widget_recent_entries ul li .post-date,
.footer .widget--block.widget_recent_entries ul li .post-date {
  position: absolute;
  top: 5px;
  font-size: 10px;
}
/**
 * Profile Widget
 */
.widget--block img {
  max-width: 100%;
}
.widget--block img.aligncenter {
  margin: 10px auto;
  display: block;
}
.widget--block .description {
  margin: 10px auto;
}
.widget--block a.button {
  text-align: center;
  margin-bottom: 10px;
  padding-left: 20px;
  margin: 10px auto 15px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: underline;
  background: url(../images/link-arrow.png) no-repeat left center;
}
/**
 * movie widgets
 */
.movie-text-area {
  text-align: left;
}
.movie-text-area a.button {
  margin-left: 0;
  text-decoration: none;
  background: none;
  padding-left: 0;
  margin-top: 20px;
  display: block;
  text-align: right;
}
/*============================
##バナーウィジェット
============================*/
.contents .banner,
.sidebar .banner,
.footer .banner {
  margin-bottom: 1.1em;
  max-width: 100%;
}
/**
 * calender widgets
 */
#calendar_wrap {
  width: 100%;
  background: #FFF;
}
#calendar_wrap caption {
  background: #EEE;
}
#calendar_wrap tr th {
  width: 14.285714286%;
  font-size: 12px;
  padding: 3px;
  text-align: center;
}
#calendar_wrap tr td {
  width: 14.285714286%;
  padding: 3px;
  font-size: 12px;
  text-align: center;
}
.widget_recent_comments #recentcomments .recentcomments {
  background-image: url("../images/side_icon.png");
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 1em;
}
.widget_recent_comments #recentcomments .recentcomments a {
  background: none;
}
.widget_recent_comments #recentcomments .recentcomments a:hover {
  background: none;
  color: #252525;
}
/**
 * Infomartion bar
 */
.information-bar {
  background: #F5F5f5;
  margin-bottom: 1em;
  padding: 1em;
  overflow: hidden;
}
.information-bar .ticker--label {
  line-height: 1.8em;
  width: 10%;
  font-size: 12px;
  float: left;
  text-align: center;
  display: block;
}
.information-bar ul {
  margin-bottom: 0;
  float: right;
  width: 80%;
}
.information-bar ul li {
  list-style: none;
  margin-left: 2em;
  line-height: 1.4em;
}
@media (max-width: 400px) {
  .information-bar .ticker--label {
    display: none;
  }
  .information-bar ul {
    float: none;
    width: 100%;
  }
}
/**
 * ==============================
 * Static Page Less File
 * ==============================
 */
.page--title {
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 13px;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  margin-top: 0;
  font-weight: bold;
}
.page--contents {
  margin-top: 20px;
  margin-bottom: 20px;
}
.page--footer {
  text-align: right;
  padding-right: 20px;
  margin-bottom: 20px;
}
.page--footer .meta span {
  display: inline-block;
}
.page #sns {
  text-align: center;
  border-top: 1px dashed #ccc !important;
  padding: 30px 0;
  margin: 30px 0;
}
.page .post-single-bookmarks {
  display: inline-block;
}
.page .post {
  padding: 0 15px;
}
.page .title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 30px;
  border-top: 1px dashed #ccc !important;
  border-bottom: 3px solid #09f;
  padding: 15px;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background: linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}
/**
 * ==============================
 * Single Post Less File
 * ==============================
 */
.single--title {
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 13px;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  font-weight: bold;
  margin-top: 0;
}
.single--contents {
  margin-top: 20px;
  margin-bottom: 20px;
}
.single--footer {
  text-align: right;
  padding-right: 20px;
  margin-bottom: 20px;
}
.single--footer .meta span {
  display: inline-block;
}
.contents .post h3 {
  color: #444;
  font-size: 1.1em;
  margin: 75px 0 30px;
  padding: 0 4px 0;
  line-height: 36px;
  border-bottom: 1px solid #ccc;
}
.contents .post h4 {
  color: #555;
  margin: 40px 0 20px;
  padding: 0 0 0 10px;
  line-height: 30px;
  border-left: 5px groove #ccc;
}
.contents .post li {
  list-style: square;
  margin-left: 1em;
}
.post-single-facebook {
  display: inline;
  float: left;
}
.post-single-hatena {
  display: inline;
  float: left;
  margin-right: 10px;
}
.post-single-twitter {
  display: inline;
  float: left;
  margin-right: -30px;
}
.post-single-mixi {
  margin-right: 10px;
  float: left;
  display: inline;
}
#pagenation {
  text-align: center;
  height: 15px;
  height: 9px;
  overflow: hidden;
  position: absolute;
  bottom: 6px;
  left: 50%;
}
#pagenation li {
  cursor: pointer;
  display: inline-block;
  height: 9px;
  width: 9px;
  margin-top: 3px;
  margin: 0 3px;
  background: #d5d5d5;
  text-indent: -9999px;
  float: left;
}
.single .thumb {
  float: left;
  padding: 1px;
  border: 1px solid #d5d5d5;
  margin: 0px 10px 10px 0px;
}
.single .post-single-bookmarks {
  float: right;
}
.single .head {
  border-bottom: 3px solid #09f;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-top: 3px solid #09f;
}
.single .post {
  padding: 0px;
}
.single .contents .meta {
  margin: 20px 0;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 0;
}
.single .contents .meta .metadate {
  margin-left: 10px;
  line-height: 1.2em;
}
.single .contents .meta .postdate {
  margin-left: 10px;
  line-height: 1.2em;
}
.single .contents .meta .comments {
  margin-left: 10px;
}
.single .title {
  font-weight: bold;
  margin: 15px 0;
  font-size: 1.2em;
}
.single .contents.right_sidebar {
  float: left;
  overflow: hidden;
}
#prev {
  float: left;
}
#prevBtn {
  position: absolute;
  top: 40%;
  left: 0;
  cursor: pointer;
  z-index: 9999;
}
.contents * {
  max-width: 100%;
}
.contents dl dt {
  background: #e8e8e8;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 3px 3px 0 0;
  line-height: 3em;
}
.contents dl dd {
  padding: 1em;
  line-height: 1.9em;
  border: 1px solid #e8e8e8;
  margin-left: 0;
  margin-bottom: 1em !important;
  border-bottom: 2px solid #e8e8e8;
  border-radius: 0 0 3px 3px;
}
.contents img {
  max-width: 100%;
}
.contents.no_sidebar {
  width: 95%;
  margin: 0 auto;
  padding: 0px 0px 40px;
  float: none;
}
.contents.no_sidebar h3.title {
  margin: 80px 0 30px;
  color: #ff0000;
  font-size: 1.6em;
  text-align: center;
  border: none;
}
.contents.no_sidebar #sns {
  text-align: center;
  border-top: 1px dashed #ccc !important;
  padding: 30px 0;
  margin: 60px 0;
}
.contents.no_sidebar a {
  color: #2ca9e1;
}
.contents.no_sidebar .post-single-bookmarks {
  display: inline-block;
}
.contents.no_sidebar h2 {
  padding: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc !important;
  color: #666;
  text-align: center;
}
/**
 * ==============================
 * Archive Page Less Files
 * ==============================
 */
.article--title {
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 13px;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  margin-top: 0;
  font-weight: bold;
}
.article--contents {
  margin-top: 20px;
  margin-bottom: 20px;
}
.article--footer {
  text-align: right;
  padding-right: 20px;
  margin-bottom: 20px;
}
.article--footer .meta span {
  display: inline-block;
}
.wrap.two-column.sidebar-right .sidebar-right {
  float: left;
  padding-right: 0;
}
.wrap.two-column.sidebar-right .two-column {
  border-right: 1px solid #e8e8e8;
  padding: 0px 1em 0px 0px;
  float: left;
}
.wrap.two-column.sidebar-left .sidebar-left {
  padding-left: 0;
  float: left;
}
.wrap.two-column.sidebar-left .two-column {
  border-left: 1px solid #e8e8e8;
  padding: 0px 0px 0px 1em;
  float: left;
}
.wrap.three-column .sidebar.sidebar-left {
  width: 23.5%;
  float: left;
  padding: 0px 1em 1em 1em;
  border-right: 1px solid #e8e8e8;
}
.wrap.three-column .sidebar.sidebar-right {
  width: 23.5%;
  float: left;
  border-left: 1px solid #e8e8e8;
  padding: 0px 1em 1em 1em;
}
.wrap.three-column .three-column {
  width: 53%;
  float: left;
  padding: 0px 1em 1em 1em;
}
/**
 * ===========================
 * Layout Contents Block
 * ===========================
 */
/**
 * ===============================
 * Contact Form Fields
 * ===============================
 */
.contact-form form table tbody tr th {
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  text-align: left;
  padding: 10px;
}
.contact-form form table tbody tr td {
  border: 1px solid #e8e8e8;
  padding: 10px;
}
.contact-form form table tbody tr td textarea {
  width: 95%;
}
.contact-form form .submit {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact-form form .submit .btn {
  width: 50%;
}
/**
 * ===============================
 * Choose Image
 * ===============================
 */
.headline {
  background: #fafafa;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #fafafa), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, #fafafa 0%, #f6f6f6 47%, #ededed 100%);
  background: linear-gradient(to bottom, #fafafa 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
}
.headline.center {
  text-align: center;
}
.headline.no_border {
  border: none !important;
}
.headline.no_border .custom-title {
  border: none !important;
}
.headline .custom-title {
  border-top-width: 5px;
  border-top-style: solid;
  padding-left: 1em;
  padding-top: 0.8em;
  overflow: hidden;
  text-align: left;
  padding-bottom: 0.3em;
  margin-top: 0px;
  margin-bottom: 10px;
}
.headline .custom-title p {
  line-height: 1em;
}
.headline .custom-title em {
  display: inline;
  font-size: 12px;
  color: #999;
}
/**
 * ===============================
 * Divider Fields
 * ===============================
 */
.divider {
  display: block;
}
.divider .solid {
  border-bottom: 2px solid #000;
  margin: 20px 0;
}
.divider .dotted {
  border-bottom: 2px dotted #000;
  margin: 20px 0;
}
.divider .double {
  border-bottom: 2px double #000;
  margin: 20px 0;
}
.divider .dashed {
  border-bottom: 2px dashed #000;
  margin: 20px 0;
}
.divider .groove {
  border-bottom: 2px groove #000;
  margin: 20px 0;
}
.divider .trans {
  border-bottom: 2px trans #000;
  margin: 20px 0;
}
/*============================
##お申込み
============================*/
.signup {
  margin-top: 20px;
  overflow: hidden;
}
.signup .span16 .text-center {
  text-align: center;
}
.signup .span16 .text-center a {
  line-height: 1em;
  color: #FFF;
  font-size: 20px;
  padding: 10px 12px;
  margin-top: 20px;
  display: inline-block;
}
.signup .span16 .text-center a:hover {
  opacity: 0.8;
  text-decoration: none;
}
/**
 * ===============================
 * Half Block Fields
 * ===============================
 */
.row-fluid .half-block.span12 {
  width: 48.667089%;
  margin-left: 10px;
  overflow: hidden;
  float: left;
}
.row-fluid .half-block.span12 img {
  max-width: 100%;
  margin: 10px auto;
}
@media (max-width: 767px) {
  .row-fluid .half-block.span12 {
    width: auto;
    margin-left: 10px;
    overflow: hidden;
    float: none;
  }
  .row-fluid .half-block.span12 img {
    max-width: 100%;
    margin: 10px auto;
  }
}
/**
 * sqeeze
 */
.squeeze-title {
  line-height: 2.2em;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
}
.squeeze-box {
  border-left: 6px solid;
  border-right: 6px solid;
  border-bottom: 6px solid;
  border-top: none;
  margin-top: 0;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  overflow: hidden;
}
.squeeze-box .text.form-icon {
  background: url(../images/footer_list_icon.png) no-repeat left center;
  padding-left: 12px;
  vertical-align: middle;
  width: 46%;
  float: left;
}
.squeeze-box .text.form-icon .text {
  width: 56%;
  margin-bottom: 0;
}
.squeeze-box .text-center {
  text-align: center;
}
@media (max-width: 767px) {
  /*sqeeze*/
  .squeeze-title {
    line-height: 2.2em;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    margin-bottom: 0;
  }
  .squeeze-box {
    border-left: 6px solid;
    border-right: 6px solid;
    border-bottom: 6px solid;
    border-top: none;
    margin-top: 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 40px;
    overflow: hidden;
  }
  .squeeze-box .text.form-icon {
    background: url(../images/footer_list_icon.png) no-repeat left 0.4em;
    padding-left: 12px;
    vertical-align: middle;
    width: 100%;
    float: none;
  }
  .squeeze-box .text.form-icon .text {
    width: 100%;
    margin-bottom: 0;
  }
  .squeeze-box .text-center {
    text-align: center;
  }
}
/**
 * Template Field
 */
.template-text .row-fluid {
  margin-top: 1em;
  padding: 1em;
}
.template-text p {
  text-align: center;
  display: block;
}
.template-text p a {
  text-decoration: underline;
}
.template-text p a:hover {
  text-decoration: none;
}
/*============================
##ソーシャルボタン
============================*/
.social {
  padding: 10px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin: 20px 0;
}
.show_bar {
  border-bottom: 2px solid #e8e8e8;
  margin-bottom: 10px;
}
.contents .ads-banner-widget {
  overflow: hidden;
}
.contents .ads-banner-widget .alignleft {
  float: left;
  display: block;
  margin-right: 20px;
}
.contents .ads-banner-widget .alignright {
  float: right;
  display: block;
  margin-left: 20px;
}
.contents .ads-banner-widget .description {
  margin: 10px 0;
}
.video_embed {
  margin-top: 1em;
  margin-bottom: 1em;
}
.video_embed .left iframe {
  float: left;
}
.video_embed .right iframe {
  float: right;
}
.video_embed .center iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/**
 * ===============================
 * Choose Image
 * ===============================
 */
.choose-img {
  margin-bottom: 20px;
}
/*============================
##画像選択 ブロック
============================*/
#wrapper .wrap .row-fluid.choose-img {
  margin-top: 20px;
}
@media (max-width: 767px) {
  body {
    font-size: 0.9em;
  }
  /**
 * layout
 */
  .container {
    max-width: 100% !important;
  }
  .header {
    background-size: 100% auto;
  }
  .sidebar {
    max-width: 100%;
    width: 100%;
    float: none;
    padding-left: 0;
  }
  .contents {
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  /**
 * navbar
 */
  .navbar {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
  }
  .navbar .nav-collapse ul#menu-all-pages li a {
    width: 100%;
    padding: 5px 0px 5px 0px;
  }
  .navbar .nav-collapse ul#menu-all-pages li a .description {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer {
    min-width: 100%;
  }
  .footer .footer--area {
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
  }
  .footer .footer--area .footer--column {
    width: 97%;
  }
}
