@charset "utf-8";
/*----------------------------------------------------------
	全体のレイアウト設定

	: layout.css
		: ヘッダー
		: トップグローバルナビゲーション
		: 可変式グローバルナビ
		: メインカラム
		: トップページ新着記事一覧
		: メインコンテンツ
		: ウィジェット
		: ウィジェットタイトル
		: メインカラムウィジェット
		: ピックアップ記事
		: エントリーアイコン（カテゴリー別記事一覧）
		: 検索フォーム
		: トップページ
		: 新着記事一覧
		: カウントダウンタイマー
		: フッター
		: フッターウィジェット

-------------------------------------------------------------*/
body {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(255, 255, 255);
	background-origin: padding-box;
	background-position: 0% 0%;
	background-repeat: repeat;
	background-size: auto;
  -ms-word-wrap: break-word;
      word-wrap: break-word;
}
#wrapper {
	overflow: hidden;
	width: 980px;
	margin: 0 auto;
	-moz-box-shadow: 0 0 7px #CCC; /* FireFox */
	-webkit-box-shadow: 0 0 7px #CCC; /* webkit */
	box-shadow: 0 0 7px #CCC;
	background: #fff; /* IE Hack */
	border:1px solid #CCC\9;
}
/*-------------------------------------------------------------
	ヘッダー
-------------------------------------------------------------*/
#header {
	width: 100%;
	background: #FFF;
	min-height: 100px;
}
#header-inner {
	min-height: 60px;
	margin: 0 auto;
	width: 100%;
	padding: 0 0 0px;
	position: relative;
}
.header-description {
	background: #061d3f;
	height: 22px;
	font-size: 12px;
	padding-top: 3px;
	padding-left: 10px;
}
#header .header-description span {
	color: #FFF;
}
#header h1 {
	font-size: 24px;
}
#header h1.logo-text {
	margin-top: 20px;
	margin-left: 20px;
}
#header-widget {
	float: right;
}
/*-------------------------------------------------------------
	トップグローバルナビゲーション
-------------------------------------------------------------*/
#nav {
	min-width: 980px;
	clear: both;
	border-bottom: 3px solid #09f;
}
#nav #navinner {
	background: #FFF;
	border-top: 1px solid #EEEEEE;
}
#nav ul.menu {
	width: 110%;
	height: 50px;
	margin: 0 auto;
	border-right: 1px solid #fff;
}
#nav ul.menu {
	zoom: 1;
}
#nav ul.menu:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}
#nav ul.menu * {
	cursor: pointer;
}
#nav ul.menu li {
	float: left;
	position: relative;
	height: 50px;
}
#nav ul.menu li:hover {
	background: #eee;
}
#nav ul.menu li a {
	display: block;
	width: 100%;
	height: 50px;
	border-left: 1px solid #fff;
	border-right: 1px solid #ddd;
	padding: 0 10px;
	overflow: hidden;
	text-align: center;
	position: relative;
}
#nav ul.menu li a:hover {
	text-decoration: none;
}
#nav ul.menu li a strong {
	margin-top: 10px;
	display: block;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
}
#nav ul.menu a span {
	color: #777;
	font-size: 0.8em;
	text-shadow: 1px 1px 0 #fff;
	display: block;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
}
#nav ul.sub-menu {
	display: none;
}
#nav ul.sub-menu li {
	float: none;
	height: 30px;
}
#nav ul.sub-menu li a {
	height: 30px;
	font-size: 0.8em;
	line-height: 30px;
	text-align: left;
	text-indent: 15px;
	display: block;
}
#nav ul.sub-menu li ul.sub-menu {
	position: absolute;
	top: -30px;
}
#nav ul.menu li ul.sub-menu a:link, #nav ul.menu li ul.sub-menu a:visited {
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	color: #333;
	background: url(images/list.png) no-repeat 5px 50% #fff;
	z-index: 10;
}
#nav ul.menu li ul.sub-menu a:hover, #nav ul.menu li ul.sub-menu a:active {
	color: #fff;
	background: url(images/list.png) no-repeat 5px 50% #333;
}
/*-------------------------------------------------------------
	可変式グローバルナビ
-------------------------------------------------------------*/

/* 1,2,3,4個の場合 */
#nav div.menu-items-num-1 ul.menu li a, #nav div.menu-items-num-2 ul.menu li a, #nav div.menu-items-num-3 ul.menu li a, #nav div.menu-items-num-4 ul.menu li a {
	width: 138px;
}
#nav div.menu-items-num-1 ul.sub-menu li ul.sub-menu, #nav div.menu-items-num-2 ul.sub-menu li ul.sub-menu, #nav div.menu-items-num-3 ul.sub-menu li ul.sub-menu, #nav div.menu-items-num-4 ul.sub-menu li ul.sub-menu {
	left: 159px;
	margin-top: -1px;
}
#nav div.menu-items-num-1 ul.menu {
	width: 160px;
	float: left;
}
#nav div.menu-items-num-2 ul.menu {
	width: 320px;
	float: left;
}
#nav div.menu-items-num-3 ul.menu {
	width: 480px;
	float: left;
}
#nav div.menu-items-num-4 ul.menu {
	width: 640px;
	float: left;
}
#nav div.menu-items-num-1, #nav div.menu-items-num-2, #nav div.menu-items-num-3, #nav div.menu-items-num-4 {
	width: 100%;
	margin: 0 auto;
}
/* 5個の場合 */
#nav div.menu-items-num-5 ul.menu li a {
	width: 174px;
}
#nav div.menu-items-num-5 ul.sub-menu li ul.sub-menu {
	left: 195px;
	margin-top: -1px;
}
/* 6個の場合 */
#nav .menu-items-num-6 .menu {
	width: 100.6%;
}
#nav div.menu-items-num-6 ul.menu li a {
	width: 142px;
}
#nav div.menu-items-num-6 ul.sub-menu li ul.sub-menu {
	left: 163px;
	margin-top: -1px;
}
/* 7個の場合 */
#nav div.menu-items-num-7 ul.menu li a {
	width: 118px;
}
#nav div.menu-items-num-7 ul.sub-menu li ul.sub-menu {
	left: 139px;
	margin-top: -1px;
}
/* 8個の場合 */
#nav .menu-items-num-8 .menu {
	width: 100.5%;
}
#nav div.menu-items-num-8 ul.menu li a {
	width: 101px;
}
#nav div.menu-items-num-8 ul.sub-menu li ul.sub-menu {
	left: 122px;
	margin-top: -1px;
}
/* 9個の場合 */
#nav .menu-items-num-9 .menu {
	width: 100.3%;
}
#nav div.menu-items-num-9 ul.menu li a {
	width: 87px;
}
#nav div.menu-items-num-9 ul.sub-menu li ul.sub-menu {
	left: 108px;
	margin-top: -1px;
}
/* 10個の場合 */
#nav div.menu-items-num-10 ul.menu li a {
	width: 76px;
}
#nav div.menu-items-num-10 ul.sub-menu li ul.sub-menu {
	left: 97px;
	margin-top: -1px;
}
/* 11個の場合 */
#nav .menu-items-num-11 .menu {
	width: 100%;
}
#nav div.menu-items-num-11 ul.menu li a {
	width: 67px;
}
#nav div.menu-items-num-11 ul.sub-menu li ul.sub-menu {
	left: 88px;
	margin-top: -1px;
}
/* 12個の場合 */
#nav .menu-items-num-12 .menu {
	width: 100.6%;
}
#nav div.menu-items-num-12 ul.menu li a {
	width: 60px;
}
#nav div.menu-items-num-12 ul.sub-menu li ul.sub-menu {
	left: 81px;
	margin-top: -1px;
}
#info-bar {
	height: 29px;
	border-bottom: 1px solid #DDDDDD;
	background: #f5f5f5;
	padding: 4px 0 0 20px;
}
#breadcrumb {
	overflow: hidden;
	background: url(images/home.gif) no-repeat left center;
	padding-left: 15px;
}
#breadcrumb li {
	float: left;
}
/*-------------------------------------------------------------
	メインブロック
-------------------------------------------------------------*/
#wrap {
	/* IE7 */
	display: inline-block;
	width: 100%;
	zoom: 1;
}
#wrap-inner {
	background: none repeat scroll 0 0 #FFFFFF;
	margin: 0 auto;
	padding: 15px 20px;
}
#description {
	float: left;
	font-size: 0.84em;
	line-height: 44px;
	height: 44px;
	width: 757px;
	overflow: hidden;
	padding-left: 3px;
	margin-top: -6px;
}
#submenu {
	float: right;
}
#submenu * {
	text-decoration: none;
}
.more a {
	color: #09f;
}
/*-------------------------------------------------------------
	ムービーウィジェット
-------------------------------------------------------------*/
#movie-widget {
	width: 100%;
}
#movie-widget .movie-text-area {
	margin-top: 10px;
}
#sidebar #movie-widget iframe {
	width: 100% !important;
}
#footer-bar1 #movie-widget iframe {
	width: 100% !important;
}

#movie-widget {
	width: 100%;
}
#movie-widget .movie-text-area {
	margin-top: 10px;
}
#top {
	height: 248px;
	border: 1px solid #d5d5d5;
	position: relative;
	margin-bottom: 15px;
	width: 668px;
	overflow: hidden;
}
#prevBtn {
	position: absolute;
	top: 40%;
	left: 0;
	cursor: pointer;
	z-index: 9999;
}
#nextBtn {
	position: absolute;
	top: 40%;
	right: 0;
	cursor: pointer;
	z-index: 9999;
}
#prevBtn img:hover, #nextBtn img:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	background: none !important;
}
#top .slider li {
	float: left;
	width: 634px;
	margin: 7px;
	position: relative;
}
#top .thumb {
	float: left;
	padding: 1px;
	border: 1px solid #d5d5d5;
}
#top .excerpt {
	margin-left: 430px;
	padding-top: 6px;
}
#top .excerpt .new {
	padding: 0 5px;
	color: #fff;
	background: #c00;
	display: inline-block;
	font-size: 0.8em;
}
#top .excerpt h2 {
	font-weight: bold;
	margin: 1em 0;
}
#top .excerpt h2 a {
	color: #09f;
}
#top .excerpt p {
	font-size: 0.8em;
}
#top .excerpt .more {
	position: absolute;
	bottom: -3px;
	right: 0;
 /position: relative;
}
#pagenation {
	text-align: center;
	height: 15px;
}
#pagenation {
 /height: 9px;
 /overflow: hidden;
 /position: absolute;
 /bottom: 6px;
 /left: 50%;
}
#pagenation li {
	cursor: pointer;
	display: inline-block;
	height: 9px;
	width: 9px;
	margin-top: 3px;
	margin: 0 3px;
	background: #d5d5d5;
	text-indent: -9999px;
}
#pagenation li {
 /float: left;
}
#pagenation li.active, #pagenation li:hover {
	background: #09f;
}
/*-------------------------------------------------------------
	メインコンテンツ
-------------------------------------------------------------*/
#contents {
	width: 71.25%;
	float: right;
}
#layout2 #contents {
	float: left;
}
/*-------------------------------------------------------------
	ウィジェット
-------------------------------------------------------------*/
.twitter {
	margin-bottom: 15px;
}
.textwidget {
	padding: 8px 0;
}
#calendar_wrap, .tagcloud {
	padding: 8px;
}
#contents .banner, #sidebar .banner, #footer .banner {
	margin-bottom: 15px;
	max-width: 100%;
	height: auto;
	width /***/: auto;
　/*IE8のみ適用*/
}
#wp-calendar th {
	font-size: 1.3em;
	text-align: center;
}
/*-------------------------------------------------------------
	ウィジェットタイトル
-------------------------------------------------------------*/
#wrap-inner .widgettitle {
	font-size: 16px;
	line-height: 37px;
	border-bottom: 1px solid #CCC !important;
	border-right: none !important;
	border-left: none !important;
	padding-left: 15px;
	background: url(images/h2-bg.jpg) repeat;
	border-top: 3px solid #09f;
}
.widgettitle span {
	float: right;
	margin-right: 0.5em;
 /margin-top: -40px;
}
.widgettitle img {
	margin: 10px 0;
}
li.banner-widget {
    float: left;
    margin-left: 10px;
    max-width: 100%;
}
/*-------------------------------------------------------------
	メインカラムウィジェット
-------------------------------------------------------------*/
#main .widget {
	border-radius: 5px;
	margin-bottom: 15px;
}
#main .widget ul li {
	padding-top: 0.5em;
}
#main .widget ul li a {
	color: #09f;
	background: url(images/navi_icon.png) no-repeat left center;
	padding-left: 14px;
}
#main .widget ul li a.url {
	background: none;
	padding-left: 0;
}
#main .widget ul.children {
	background: none;
	padding: 0;
}
/*-------------------------------------------------------------
	ピックアップ記事
-------------------------------------------------------------*/
.pickup2 {
	padding: 8px;
	position: relative;
}
.pickup2 img {
	float: left;
	margin-right: 8px;
	padding: 1px;
	border: 1px solid #d5d5d5;
}
.pickup2 h3 {
	font-weight: bold;
	margin: 8px 0;
}
.pickup2 h3 a {
	color: #09f;
}
.pickup2 p {
	font-size: 0.8em;
}
.pickup2 .more {
	position: absolute;
	bottom: 8px;
	right: 8px;
}
.pickup2 .metadate {
	font-size: .9em;
}
#sub .pickup2 .more, #sidebar .pickup2 .more {
	position: relative;
	text-align: right;
	bottom: auto;
	right: auto;
}
/*-------------------------------------------------------------
	エントリーアイコン（カテゴリー別記事一覧）
-------------------------------------------------------------*/
.entryicon {
	margin-bottom: 15px;
}
.entryicon dl {
	padding: 8px 0;
	border-bottom: 1px dashed #ccc;
}
#main .entryicon dl {
	padding: 8px;
}
.entryicon dt {
	float: left;
	margin-right: 8px;
}
.entryicon dd p {
	font-size:12px;
}
.entryicon h3 {
	font-size: .9em;
	margin-top: 8px;
	height: 50px;
}
#sub .entryicon h3 {
	margin: 0;
}
.entryicon h3 a {
	color: #09f;
}
.entryicon .metadate {
	font-size: .9em;
}
.entryicon dt img {
	border: 1px solid #d5d5d5;
	padding: 1px;
}
/*-------------------------------------------------------------
	検索フォーム
-------------------------------------------------------------*/
#searchform {
	height: 30px;
	padding: 15px 0;
}
#s {
	background: #FFF;
	border: 1px solid #CCC;
	padding: 10px;
	height: 10px;
	color: #666;
	font-size: 12px;
	border-radius: 5px;
}
#sub #s, #footer #s {
	width: 75%;
	background: #FFF;
}
#searchbutton {
	margin-bottom: -3px;
	margin-left: -30px;
}
.focus {
	color: #333 !important;
}
/*-------------------------------------------------------------
	トップページ
-------------------------------------------------------------*/
#main {
	width: 100%;
	float: left;
	background: #FFF;
}
/*-------------------------------------------------------------
	新着記事一覧
-------------------------------------------------------------*/
#newposts {
	border-radius: 5px;
	border: 1px solid #d5d5d5;
	padding: 0;
	margin-bottom: 15px;
	background: url(images/contents_in_back.gif) repeat-x bottom;
}
#newposts .midasi {
	margin-bottom: 15px;
	font-weight: 700;
	line-height: 37px;
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
	padding-top: 3px;
	padding-left: 35px;
	background: url(images/h2_back.gif) left center no-repeat;
	border-bottom: 3px solid #09f;
}
#newposts .post {
	float: left;
	width: 33%;
	text-align: center;
	margin-bottom: 15px;
	padding: 0 !important;
}
#newposts .post h3 {
	border: none !important;
	font-weight: normal !important;
	font-size: .9em !important;
	line-height: normal !important;
}
#newposts .post .thumb {
	padding: 1px;
	border: 1px solid #d5d5d5;
	width: 120px;
	margin: 0 auto;
}
#newposts .post h3 {
	text-align: center;
	width: 120px;
	margin: 3px auto 0;
}
#newposts .post h3 a {
	color: #09f;
}
#newposts .post .metadate {
	text-align: center;
	width: 120px;
	margin: 0 auto;
	font-size: .9em;
}
#newposts ul {
	border-top: 1px solid #d5d5d5;
	margin: 0 15px;
	margin-bottom: 15px;
	padding-top: 10px;
}
#newposts ul li {
	padding-top: 0.5em;
	margin: 0;
}
#newposts ul li a {
	color: #09f;
	background: url(images/navi_icon.png) no-repeat left center;
	padding-left: 14px;
}
#newposts .more {
	margin: 15px;
	text-align: right;
}
/*-------------------------------------------------------------
	サイドバー
-------------------------------------------------------------*/
#sub .widget {
	margin-bottom: 15px;
}
#sub .widget ul {
}
#sub .widget li {
	border-bottom: 1px dashed #ccc;
}
#sub .widget li a {
	font-size: 0.8em;
	background: url(images/side_icon.gif) no-repeat left center;
	display: block;
	padding: 0.5em 0;
	padding-left: 14px;
}
#sub .widget ul.children {
	padding: 0;
}
#sub .widget ul.children li {
	border-bottom: none;
	border-top: 1px dashed #ccc;
}
/*-------------------------------------------------------------
	投稿スタイル
-------------------------------------------------------------*/

.post h3 {
	color: #444;
	font-size: 1.1em;
	margin: 75px 0 30px;
	padding: 0 4px 0;
	line-height: 36px;
	border-bottom: 1px solid #ccc;
}
.post h4 {
	color: #555;
	margin: 40px 0 20px;
	padding: 0 0 0 10px;
	line-height: 30px;
	border-left: 5px groove #ccc;
}
.post li {
	list-style: square;
	margin-left: 1em;
}
/*-------------------------------------------------------------
	個別記事ページ
-------------------------------------------------------------*/
.single .head {
	border-bottom: 3px solid #09f;
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-top: 3px solid #09f;
}
.single .title {
	font-weight: bold;
	margin: 15px 0;
	font-size: 1.2em;
}
.single #contents #postdate {
	float: left;
}
.single #contents #postdate * {
	color: #666;
}
.single #contents .metadate {
	float: left;
}
.single .post-single-bookmarks {
	float: right;
}
.single .thumb {
	float: left;
	padding: 1px;
	border: 1px solid #d5d5d5;
	margin: 0px 10px 10px 0px;
}
.single .post {
	padding: 0px;
}
/*-------------------------------------------------------------
	固定ページ
-------------------------------------------------------------*/
.page .title {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 30px;
	border-top: 1px dashed #ccc !important;
	border-bottom: 3px solid #09f;
	padding: 15px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 ); /* IE6-9 */
}
.page #sns {
	text-align: center;
	border-top: 1px dashed #ccc !important;
	padding: 30px 0;
	margin: 30px 0;
}
.page .post-single-bookmarks {
	display: inline-block;
}
.page .post {
	padding: 0 15px;
}
/*-------------------------------------------------------------
	1カラム
-------------------------------------------------------------*/
#one-column {
	padding: 40px 0px 60px;
}
#one-column h2 {
	padding: 15px;
	margin-bottom: 30px;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	color: #666;
	text-align: center;
}
#one-column h3 {
	margin: 80px 0 30px;
	color: #ff0000;
	font-size: 1.6em;
	text-align: center;
	border: none;
}
#one-column a {
	color: #2ca9e1;
}
#one-column #sns {
	text-align: center;
	border-top: 1px dashed #ccc !important;
	padding: 30px 0;
	margin: 60px 0;
}
#one-column .post-single-bookmarks {
	display: inline-block;
}
.custom-image img.attachment-max-image {
	max-width: 100%;
	height: auto;
	width /***/: auto;
	margin-bottom: 10px;
	margin: 10px auto;
	display: block;
}
/*-------------------------------------------------------------
	カウントダウンタイマー
-------------------------------------------------------------*/
#timer {
	width: 100%;
	height: 45px;
	text-align: center;
	background: #CCC;
	font-size: 16px;
	padding-top: 10px;
	margin-bottom: 10px;
}
#timer #countdown {
	color: #900;
	font-size: 24px;
	letter-spacing: 3px;
	display: inline;
}
.countdown_row.countdown_amount {
	color: #900 !important;
}
/*-------------------------------------------------------------
	SNS
-------------------------------------------------------------*/
.post-single-google {
	display: inline;
	float: left;
	margin-right: -20px;
}
.post-single-hatena {
	display: inline;
	float: left;
	margin-right: 10px;
}
.post-single-twitter {
	display: inline;
	float: left;
	margin-right: -30px;
}
.post-single-mixi {
	margin-right: 10px;
	float: left;
	display: inline;
}
.post-single-facebook {
	display: inline;
	float: left;
}
/*-------------------------------------------------------------
	コメント・トラックバック
-------------------------------------------------------------*/
#comments {
	margin-top: 30px;
	border-radius: 5px;
}
#comments input, #comments textarea {
	border: 1px solid #ccc;
	padding: 3px 10px;
}
#comments .midasi, #reply-title {
	font-weight: bold;
	border-bottom: 3px solid #09f;
}
#comments .compost, #commentform {
	background: #eee;
	margin-top: 15px;
	padding: 15px;
	border-radius: 5px 5px 0 0;
}
#comments .compost {
	position: relative;
}
#comments .compost img {
	float: left;
	padding: 1px;
	background: #fff;
	border: 1px solid #ccc;
	margin-right: 15px;
}
#comments .compost .cominfo {
	font-size: 0.8em;
	position: absolute;
	right: 15px;
	bottom: 15px;
}
#comments #respond {
	margin-top: 30px;
	border-radius: 5px;
}
#commentform input, #commentform textarea {
	margin-bottom: 15px;
}
#commentform textarea {
	width: 588px;
}
#commentform label {
	margin-left: 5px;
}
#commentform .required {
	color: #c00;
}
#commentform #submit {
	margin: 0;
	cursor: pointer;
	background: #ddd;
	color: #FFF;
	border-radius: 5px;
}
#commentform .form-submit {
	text-align: right;
}
#commentform #submit:hover {
	border-color: #999;
}
#trackback {
	background: #eee;
	padding: 15px;
}
#trackback {
	margin-bottom: 15px;
	border-radius: 0 0 5px 5px;
}
#trackback input {
	width: 588px;
}
/*-------------------------------------------------------------
	関連記事
-------------------------------------------------------------*/
#related {
	margin-top: 30px;
	margin-bottom: 30px;
}
#related h3 {
	font-weight: bold;
	border-bottom: 3px solid #09f;
}
#related ul {
	padding: 15px;
	padding-top: 10px;
}
#related ul li {
	padding-top: 0.5em;
}
#related ul li a {
	color: #09f;
	background: url(images/navi_icon.png) no-repeat left center;
	padding-left: 14px;
}
/*-------------------------------------------------------------
	アーカイブページ・検索結果
-------------------------------------------------------------*/
.archive-title {
	padding: 15px 0;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	color: #666;
	margin-bottom: 40px;
	font-size: 1.2em;
}
.archive .post, .search .post {
	margin-top: 15px;
	margin-bottom: 60px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #ccc;
	position: relative;
}
.archive .title, .search .title {
	font-weight: bold;
	border-bottom: 3px solid #09f;
	margin-bottom: 15px;
}
.archive .thumb, .search .thumb {
	float: left;
	padding: 1px;
	border: 1px solid #d5d5d5;
	margin-right: 15px;
}
.archive .metadate, .search .metadate {
	font-size: 0.8em;
	color: #666;
}
.archive .metadate a, .search .metadate a {
	color: #666;
}
.archive .more, .search .more {
	position: absolute;
	right: 15px;
	bottom: 15px;
	font-size: 0.8em;
}
/*-------------------------------------------------------------
	ページ送り
-------------------------------------------------------------*/
#pagenum {
	text-align: center;
	margin: 60px 0;
}
#pagenum a {
	overflow: visible;
	display: inline-block;
	color: #666;
	border: 1px solid #999;
	padding: 3px 6px;
}
#pagenum a:hover {
	border-color: #333;
	text-decoration: none;
}
#pagenum span {
	display: inline-block;
	color: #fff;
	border: 1px solid #333;
	background: #333;
	padding: 3px 6px;
}
.pagelink {
	margin-top: 30px;
	padding-top: 15px;
	border-top: 1px dashed #ccc;
}
#prev, #prev a, #next, #next a {
	color: #09f;
}
#prev {
	float: left;
}
#next {
	float: right;
}
/*-------------------------------------------------------------
	サイドバー
-------------------------------------------------------------*/
#sidebar {
	width: 26.55%;
	float: left;
}
#layout2 #sidebar {
	float: right;
}
#sidebar .widget {
	margin-bottom: 15px;
}
#sidebar .widget .widgettitle {
	background-image: url(images/widgettitle-bg02.gif);
	font-size: 16px;
	height: 30px;
	border-bottom: none !important;
	border-left: medium none !important;
	border-right: medium none !important;
	border-top: none;
	font-weight: 100;
	line-height: 30px;
	padding-left: 10px;
	padding-top: 0;
	color: #FFF;
}
#sidebar .widget ul {
	margin: 0;
}
#sidebar .widget li {
	border-bottom: 1px dashed #ccc;
}
#sidebar .widget li a {
	background: url(images/side_icon.gif) no-repeat left center;
	display: block;
	padding: 0.5em 0;
	padding-left: 1em;
}
#sidebar .widget ul.children {
	padding: 0;
}
#sidebar .widget ul.children li {
	border-bottom: none;
	border-top: 1px dashed #ccc;
}
#sidebar .menu li {
	border: none;
}
#sidebar .menu li a {
	border-bottom: 1px dashed #ccc;
}
.postform {
	margin: 10px 0;
}
/*-------------------------------------------------------------
	フッター
-------------------------------------------------------------*/
#page-jump {
	position: fixed;
	bottom: 15px;
	right: 15px;
}
* html #page-jump {
	margin-top: -15px;
	margin-bottom: 15px;
	text-align: right;
}
#page-jump a:hover {
	opacity: 0.9;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	background: none !important;
}
#footer {
	font-size: 12px;
	min-width: 980px;
	border-top: 3px solid #09f;
	background: #EEEEEE;
}
#footer .footer-inner {
	margin: 0 auto;
	padding: 30px 20px 15px;
	overflow: hidden;
}
#footer .copyright {
	clear: both;
	background: #333333;
}
#footer .copyright p {
	text-align: center;
	font-size: 0.8em;
}
#footer .copyright p, #footer .copyright a {
	color: #fff;
	text-decoration: none;
	line-height: 50px;
}
/*-------------------------------------------------------------
	フッターウィジェット
-------------------------------------------------------------*/
#footer .textwidget {
	color: #fff;
}
#footer .entryicon h3 a {
	color: #999;
}
#footer-bar1 {
	float: left;
	width: 25%;
}
#footer-bar1 .banner {
	margin-bottom: 15px;
	max-width: 100%;
	height: auto;
	width /***/: auto;
　/*IE8のみ適用*/
}
.footer-bar2 {
	float: left;
	width: 22.8%;
	overflow: hidden;
	margin-left: 20px;
}
#footer .widget .widgettitle {
	background-image: url("images/widgettitle-bg02.gif");
	border-bottom: medium none !important;
	border-left: medium none !important;
	border-right: medium none !important;
	border-top: medium none;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 100;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	padding-top: 0;
}
#footer-bar1 ul, .footer-bar2 ul {
	margin-bottom: 15px;
}
#footer-bar1 li a, .footer-bar2 li a {
	display: block;
	padding: 0.5em 1em;
	background: url(images/footer_list_icon.png) no-repeat left center;
}
#footer-bar1 ul.children, .footer-bar2 ul.children {
	margin: 0;
}
#footer .tagcloud a, #footer #calendar_wrap * {
	color: #fff;
}
#footer #wp-calendar tbody td {
	background: none;
}
#footer .entryicon .metadate {
	color: #999;
}
/*-------------------------------------------------------------
	IE6 対策
-------------------------------------------------------------*/
#top .t-head, #top .slider li, #nav li, #nav2 li, #contents, #s-contents, .pickup4, .entrytitle dt, #comments li.compost img, #sidebar, .entryicon dt, #footer-bar1, .footer-bar2, .entrytitle2 dt, .entrytitle3 dt {
	display: inline;
}
h1, #description, #searchform, #nav li li, #nav2 li li, .pickup2-img, .pickup4-img, .entrytitle dt img, #sidebar, .entryicon dt, #footer .footer-inner, #footer-bar1, .footer-bar2 {
	zoom: 1;
}
.pickup a:hover img, .entryicon a:hover img {
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=6000);
}
input, button {
	overflow: visible;
}
