/**
 * calender widgets
 */
#calendar_wrap{
	width: 100%;
	background: #FFF;
	caption{
		background: #EEE;
	}
	tr{
		th{
			width: 14.285714286%;
			font-size: 12px;
			padding: 3px;
			text-align: center;
		}
		td{
			width: 14.285714286%;
			padding: 3px;
			font-size: 12px;
			text-align: center;
		}
	}
}
