/**
 * Category News Widget
 */
.widget_category_news{
	.category_news--area{
		border-bottom: 1px dotted #CCC;
		.category_news--thumbnail{
			float: left;
			margin-right: 0.5em;
		}
		.category_news--contents{
			margin-left: 0;
			.category_news--title{
				font-size: 1.2em;
				margin-top: 0.5em;
				margin-bottom: 0.5em;
			}
		}
	}
}
