/**
 * categories block
 */
.widget--block{
	&.widget_categories {
		ul {
			width: 100%;
			margin: 0px auto;
			li{
				a {
					background-image: url(../images/side_category_folder_icon.png);
					background-repeat: no-repeat;
					background-position: left center;
				}
			}
		}
	}
}
