/**
 * movie widgets
 */
.movie-text-area {
	text-align: left;
	a.button {
		margin-left: 0;
		text-decoration: none;
		background: none;
		padding-left: 0;
		margin-top: 20px;
		display: block;
		text-align: right;
	}
}
