/**
 * Profile Widget
 */
.widget--block {
	img {
		max-width: 100%;
		&.aligncenter{
			margin: 10px auto;
			display:block;
		}
	}
	.description{
		margin: 10px auto;
	}
	a.button {
		text-align: center;
		margin-bottom:10px;
		padding-left: 20px;
		margin: 10px auto 15px;
		border-radius: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		text-decoration: underline;
		background: url(../images/link-arrow.png) no-repeat left center;
	}
}
