.widget_recent_comments{
	#recentcomments{
		.recentcomments{
			background-image: url("../images/side_icon.png");
			background-repeat: no-repeat;
			background-position: center left;
			padding-left: 1em;
			a{
				background: none;
				&:hover{
					background: none;
					color: #252525;
				}
			}
		}
	}
}
