// contents
.contents {
	.widget--block.widget_recent_entries {
		ul{
			margin-left: 0;
			li{
				padding-left: 20px;
				border-bottom: 1px dotted #CCC;
				padding-bottom: 5px;
				a{
				}
				.post-date{
					top: 5px;
					display: block;
					float: left;
					font-size: 13px;
					margin-right: 10px;
				}
			}
		}
	}
}

// sidebar & footer
.sidebar,
.footer {
	.widget--block{
		&.widget_recent_entries {
			ul{
				li{
					// padding-top: 20px;
					position: relative;
					.post-date{
						position: absolute;
						top: 5px;
						font-size: 10px;
					}
				}
			}
		}
	}
}
