/*-------------------------
  コメント
-------------------------*/
#comments {
  margin-top: 30px;
  border-radius: 5px;
}
#comments #respond {
  margin-top: 30px;
  border-radius: 5px;
}
#comments .compost {
  position: relative;
}
#comments .compost img {
  float: left;
  padding: 1px;
  background: #fff;
  border: 1px solid #ccc;
  margin-right: 15px;
}
#comments .compost .cominfo {
  font-size: 0.8em;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
#commentform input,
#commentform textarea {
  margin-bottom: 15px;
}
/*-------------------------
  フェイスブックコメント
-------------------------*/
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe {
  width: 100% !important;
  height: auto !important;
  position: static !important;
  display: block !important;
}
