/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*-------------------------
  全体の設定
-------------------------*/
body {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #ffffff;
  background-origin: padding-box;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
}
h1,
#description,
#searchform,
.nav li li,
.nav2 li li,
.pickup2-img,
.pickup4-img,
.entrytitle dt img,
#sidebar,
.entryicon dt,
.footer .footer-inner {
  zoom: 1;
}
#wrapper {
  overflow: hidden;
  width: 950px;
  margin: 0 auto;
  -moz-box-shadow: 0 0 7px #CCC;
  -webkit-box-shadow: 0 0 7px #CCC;
  box-shadow: 0 0 7px #CCC;
  background: #fff;
}
#wrapper .wrap {
  display: inline-block;
  width: 100%;
  zoom: 1;
  margin-top: 15px;
}
#wrapper .wrap .row-fluid {
  margin: 0 auto;
}
#wrapper .row-fluid {
  margin: 0 auto;
}
#wrapper .contents {
  padding-bottom: 40px;
}
/*-------------------------
#トップページ

トップページのCSSです。

-------------------------*/
#top {
  height: 248px;
  border: 1px solid #d5d5d5;
  position: relative;
  margin-bottom: 15px;
  width: 668px;
  overflow: hidden;
}
#top .thumb {
  float: left;
  padding: 1px;
  border: 1px solid #d5d5d5;
}
#top .excerpt {
  margin-left: 430px;
  padding-top: 6px;
}
#top .excerpt .more {
  position: absolute;
  bottom: -3px;
  right: 0;
  position: relative;
}
#top .excerpt p {
  font-size: 0.8em;
}
#top .excerpt .new {
  padding: 0 5px;
  color: #fff;
  background: #c00;
  display: inline-block;
  font-size: 0.8em;
}
#top .excerpt h2 {
  font-weight: bold;
  margin: 1em 0;
}
#calendar_wrap,
.tagcoud {
  padding: 8px;
}
.pickup a:hover img,
.entryicon a:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=6000);
}
/*
##トップページ 最新のお知らせ

*/
#newposts {
  border-radius: 5px;
  border: 1px solid #d5d5d5;
  padding: 0;
  margin-bottom: 15px;
  background: url(../images/contents_in_back.gif) repeat-x bottom;
}
#newposts ul {
  border-top: 1px solid #d5d5d5;
  margin: 0 15px;
  margin-bottom: 15px;
  padding-top: 10px;
}
#newposts ul li {
  padding-top: 0.5em;
  margin: 0;
}
#newposts ul li a {
  background: url(../images/navi_icon.png) no-repeat left center;
  padding-left: 14px;
}
#newposts .more {
  margin: 15px;
  text-align: right;
}
#newposts .post {
  float: left;
  width: 33%;
  text-align: center;
  margin-bottom: 15px;
  padding: 0 !important;
}
#newposts .post h3 {
  border: none !important;
  font-weight: normal !important;
  font-size: .9em !important;
  line-height: normal !important;
  text-align: center;
  width: 120px;
  margin: 3px auto 0;
}
#newposts .post .metadate {
  text-align: center;
  width: 120px;
  margin: 0 auto;
  font-size: .9em;
}
#newposts .post .thumb {
  padding: 1px;
  border: 1px solid #d5d5d5;
  width: 120px;
  margin: 0 auto;
}
#newposts .midasi {
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 37px;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  padding-top: 3px;
  padding-left: 35px;
  background: url(../images/h2_back.gif) left center no-repeat;
  border-bottom: 3px solid #09f;
}
#top .t-head,
#top .slider li,
.nav li,
.nav2 li,
#contents,
#s-contents,
.pickup4,
.entrytitle dt,
#comments li.compost img,
#sidebar,
.entryicon dt,
.footer-bar1,
.footer-bar2,
.entrytitle2 dt,
.entrytitle3 dt {
  display: inline;
}
/*
##トップページ : アーカイブ一覧

*/
.entryicon {
  width: 100%;
  margin: 15px 0;
  /* 見出し */

}
.entryicon h3 {
  margin-top: 8px;
}
.entryicon .metadate {
  font-size: .9em;
}
.entryicon dt {
  float: left;
  margin-right: 8px;
}
.entryicon dt a {
  display: block;
}
.entryicon dt a img {
  border: 1px solid #d5d5d5;
  padding: 1px;
  display: block;
}
.entryicon dd p {
  margin-top: 10px;
}
.entryicon dl {
  padding: 8px 0;
  border-bottom: 1px dashed #ccc;
}
.span3 ul,
.span3 ul {
  margin-bottom: 15px;
}
#wp-calendar th {
  font-size: 1.3em;
  text-align: center;
}
#prevBtn img:hover,
#nextBtn img:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  background: none !important;
}
li.banner-widget {
  float: left;
  margin-left: 10px;
  max-width: 100%;
}
.focus {
  color: #333 !important;
}
#submenu {
  float: right;
}
#submenu * {
  text-decoration: none;
}
.postform {
  margin: 10px 0;
}
#prev,
#prev a,
#next,
#next a {
  color: #09f;
}
.pagelink {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px dashed #ccc;
}
.twitter {
  margin-bottom: 15px;
}
#s {
  background: #FFF;
  border: 1px solid #CCC;
  padding: 10px;
  height: 10px;
  color: #666;
  font-size: 12px;
  border-radius: 5px;
}
#pagenation li.active,
#pagenation li:hover {
  background: #09f;
}
.pickup2 {
  padding: 8px;
  position: relative;
}
.pickup2 h3 {
  font-weight: bold;
  margin: 8px 0;
}
.pickup2 h3 a {
  color: #09f;
}
.pickup2 .metadate {
  font-size: .9em;
}
.pickup2 .more {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
.pickup2 img {
  float: left;
  margin-right: 8px;
  padding: 1px;
  border: 1px solid #d5d5d5;
}
.pickup2 p {
  font-size: 0.8em;
}
#next {
  float: right;
}
.archive .thumb,
.search .thumb {
  float: left;
  padding: 1px;
  border: 1px solid #d5d5d5;
  margin-right: 15px;
}
#searchbutton {
  margin-bottom: -3px;
  margin-left: -30px;
}
#layout2 .row-fluid .sidebar {
  float: right;
}
#layout2 .row-fluid .contents {
  float: left;
}
#nextBtn {
  position: absolute;
  top: 40%;
  right: 0;
  cursor: pointer;
  z-index: 9999;
}
#searchform {
  height: 30px;
  padding: 15px 0;
}
.contents .widget {
  border-radius: 5px;
  margin-bottom: 15px;
}
.contents .widget ul li {
  padding-top: 0.5em;
}
.contents .widget ul li a {
  background: url(../images/side_icon.png) no-repeat left center;
  padding-left: 14px;
}
.contents .widget ul li a.url {
  background: none;
  padding-left: 0;
}
.contents .widget ul.children {
  background: none;
  padding: 0;
}
/*
#ヘッダー

ヘッダー関連のCSSです。

*/
.header {
  width: 100%;
  background: #FFF;
  min-height: 100px;
}
.header.squeeze {
  min-height: auto;
}
.header #logo.default {
  margin: 0;
}
.header .row-fluid h1.logo-text {
  margin-top: 20px;
  margin-left: 20px;
}
.header .row-fluid .header-description {
  background: #061d3f;
  height: 22px;
  font-size: 12px;
  padding-top: 3px;
  padding-left: 10px;
  margin-bottom: 0;
}
.header .row-fluid .header-description span {
  color: #FFF;
}
.header .row-fluid .absolute-desc {
  position: absolute;
  background: none !important;
}
.header .row-fluid h1 {
  font-size: 24px;
}
/*
#パンくず

パンくずのCSSです。

*/
.info-bar {
  height: 22px;
  border-bottom: 1px solid #DDDDDD;
  background: #f5f5f5;
  padding: 4px 0 0 20px;
}
.info-bar p {
  margin-bottom: 0;
}
.info-bar p span.red.b {
  color: red;
}
.info-bar #breadcrumb {
  overflow: hidden;
  background: url(../images/home.gif) no-repeat left center;
  padding-left: 15px;
}
.info-bar #breadcrumb li {
  float: left;
}
/*
#ナビゲーション

可変式ナビゲーションのCSSです。

*/
.nav .menu-items-num-1 ul.sub-menu li ul.sub-menu,
.nav .menu-items-num-2 ul.sub-menu li ul.sub-menu,
.nav .menu-items-num-3 ul.sub-menu li ul.sub-menu,
.nav .menu-items-num-4 ul.sub-menu li ul.sub-menu {
  left: 159px;
  margin-top: -1px;
}
.nav {
  min-width: 980px;
  clear: both;
}
.nav ul.sub-menu {
  display: none;
}
.nav ul.sub-menu li {
  float: none;
}
.nav ul.sub-menu li a {
  height: auto !important;
  font-size: 0.8em;
  line-height: 30px;
  text-align: left;
  text-indent: 15px;
  display: block;
}
.nav ul.menu {
  width: 110%;
  margin: 0 auto;
  border-right: 1px solid #fff;
  zoom: 1;
}
.nav ul.menu li {
  float: left;
  position: relative;
}
.nav ul.menu li a {
  display: block;
  width: 100%;
  border-left: 1px solid #333;
  border-right: 1px solid #222;
  min-height: 50px;
  padding: 0 10px;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.nav ul.menu li a strong {
  margin-top: 10px;
  display: block;
  line-height: 1.8em;
  overflow: hidden;
}
.nav ul.menu li a:hover {
  text-decoration: none;
}
.nav ul.menu li * {
  cursor: pointer;
}
.nav ul.menu li ul.sub-menu {
  margin: 0;
}
.nav ul.menu li ul.sub-menu li {
  float: none;
  height: 30px;
}
.nav ul.menu li ul.sub-menu li ul.sub-menu {
  position: absolute;
  top: -30px;
}
.nav ul.menu * {
  cursor: pointer;
}
.nav ul.menu li:hover {
  background: #eee;
}
.nav ul.menu a span {
  color: #777;
  font-size: 0.8em;
  text-shadow: 1px 1px 0 #fff;
  display: block;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
}
.nav .menu-items-num-1 ul.menu {
  width: 160px;
  float: left;
}
.nav .menu-items-num-2 ul.menu {
  width: 320px;
  float: left;
}
.nav .menu-items-num-3 ul.menu {
  width: 480px;
  float: left;
}
.nav .menu-items-num-4 ul.menu {
  width: 640px;
  float: left;
}
.nav .menu-items-num-5 ul.menu li a {
  width: 174px;
}
.nav .menu-items-num-5 ul.sub-menu li ul.sub-menu {
  left: 195px;
  margin-top: -1px;
}
.nav .menu-items-num-6 ul.menu li a {
  width: 142px;
}
.nav .menu-items-num-6 ul.sub-menu li ul.sub-menu {
  left: 163px;
  margin-top: -1px;
}
.nav .menu-items-num-6 .menu {
  width: 100.6%;
}
.nav ul.menu:after {
  height: 0;
  visibility: hidden;
  content: ".";
  display: block;
  clear: both;
}
.nav .menu-items-num-7 ul.menu li a {
  width: 118px;
}
.nav .menu-items-num-7 ul.sub-menu li ul.sub-menu {
  left: 139px;
  margin-top: -1px;
}
.nav .menu-items-num-8 ul.menu li a {
  width: 101px;
}
.nav .menu-items-num-8 ul.menu ul.sub-menu {
  width: 100.5%;
}
.nav .menu-items-num-8 ul.menu ul.sub-menu li ul.sub-menu {
  left: 122px;
  margin-top: -1px;
}
.nav .menu-items-num-9 ul.menu {
  width: 100.3%;
}
.nav .menu-items-num-9 ul.menu li a {
  width: 87px;
}
.nav .menu-items-num-9 ul.sub-menu li ul.sub-menu {
  left: 108px;
  margin-top: -1px;
}
.nav .menu-items-num-10 ul.menu li a {
  width: 76px;
}
.nav .menu-items-num-10 ul.sub-menu li ul.sub-menu {
  left: 97px;
  margin-top: -1px;
}
.nav .menu-items-num-11 ul.menu {
  width: 100%;
}
.nav .menu-items-num-11 ul.menu li a {
  width: 67px;
}
.nav .menu-items-num-11 ul.sub-menu li ul.sub-menu {
  left: 88px;
  margin-top: -1px;
}
.nav .menu-items-num-12 .menu {
  width: 100.6%;
}
.nav .menu-items-num-12 .menu li a {
  width: 60px;
}
.nav .menu-items-num-12 .menu ul.sub-menu li ul.sub-menu {
  left: 81px;
  margin-top: -1px;
}
.nav .row-fluid {
  background: #FFF;
}
.nav ul.menu li ul.sub-menu a:link,
.nav ul.menu li ul.sub-menu a:visited {
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: #333;
  background: url(../images/list.png) no-repeat 5px 50% #ffffff;
  z-index: 10;
}
.nav .menu-items-num-1 ul.menu li a,
.nav .menu-items-num-2 ul.menu li a,
.nav .menu-items-num-3 ul.menu li a,
.nav .menu-items-num-4 ul.menu li a {
  width: 138px;
}
.nav .menu-items-num-1,
.nav .menu-items-num-2,
.nav .menu-items-num-3,
.nav .menu-items-num-4 {
  width: 100%;
  margin: 0 auto;
}
.nav ul.menu li ul.sub-menu a:hover,
.nav ul.menu li ul.sub-menu a:active {
  color: #fff;
  background: url(../images/list.png) no-repeat 5px 50% #333333;
}
/*
##ページトップ
- - -
ページ上部へ戻るボタンのCSSです。

*/
#page-jump {
  position: fixed;
  bottom: 15px;
  right: 15px;
}
#page-jump a:hover {
  opacity: 0.9;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  background: none !important;
}
/*
#フッター

- - -

フッターのCSSです。

*/
.footer {
  min-width: 980px;
  border-top: 3px solid #C1C1C1;
  background: #EEEEEE;
}
.footer .row-fluid {
  margin: 0 auto;
  padding: 30px 20px 15px;
  overflow: hidden;
}
.footer .row-fluid .tagcloud a {
  color: #FFF;
}
.footer .row-fluid .span4 {
  float: left;
  width: 25%;
}
.footer .row-fluid .span4 a img.banner {
  margin-bottom: 15px;
  max-width: 100%;
  height: auto;
  width: auto;
}
.footer .row-fluid .span3 {
  width: 22%;
  margin-left: 1.3%;
}
.footer .row-fluid .span3 .widget ul {
  width: 100%;
  margin: 10px 0 !important;
}
.footer .row-fluid .span3 .widget ul li {
  margin-left: 5px;
  border-bottom: 1px dotted #ccc;
}
.footer .row-fluid .span3 .widget ul li a {
  display: block;
  padding: 0.5em 1em;
  line-height: 1.8em;
  background: url(../images/footer_list_icon.png) no-repeat left center;
}
.footer .row-fluid .span3 #movie-widget iframe {
  width: 100% !important;
}
.footer .entryicon h3 a {
  color: #999;
}
.footer .entryicon .metadate {
  color: #999;
}
.footer .textwidget {
  color: #fff;
}
.footer .copyright {
  clear: both;
  background: #333333;
}
.footer .copyright p {
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 0;
}
/*
##コピーライト

フッターコピーライトの設定です。

*/
.footer .copyright p,
.footer .copyright a {
  color: #fff;
  text-decoration: none;
  line-height: 35px;
}
/*-------------------------
  サイドバー
-------------------------*/
.sidebar {
  width: 25.55%;
  padding: 0 1.25%;
  float: left;
}
.sidebar .widget {
  margin-bottom: 15px;
  border-left: 1px solid #D5D5D5;
  border-right: 1px solid #D5D5D5;
  border-bottom: 1px solid #D5D5D5;
  padding: 0;
}
.sidebar .widget ul {
  width: 96%;
  margin: 5px auto;
}
.sidebar .widget ul.children {
  padding: 0;
}
.sidebar .widget ul.children li {
  border-bottom: none;
  border-top: 1px dashed #ccc;
}
.sidebar .widget li {
  border-bottom: 1px dashed #ccc;
}
.sidebar .widget li a {
  background: url(../images/side_icon.png) no-repeat left center;
  display: block;
  padding: 0.5em 0;
  padding-left: 2em;
  margin-left: 10px;
}
.sidebar .widget .entryicon {
  width: 96%;
  margin: 0 auto 15px;
}
.sidebar #movie-widget iframe {
  width: 100% !important;
}
.sidebar .pickup2 .more {
  position: relative;
  text-align: right;
  bottom: auto;
  right: auto;
}
.page .contents.right_sidebar {
  float: left;
  overflow: hidden;
}
.page #sns {
  text-align: center;
  border-top: 1px dashed #ccc !important;
  padding: 30px 0;
  margin: 30px 0;
}
.page .post-single-bookmarks {
  display: inline-block;
}
.page .post {
  padding: 0 15px;
}
.page .title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 30px;
  border-top: 1px dashed #ccc !important;
  border-bottom: 3px solid #09f;
  padding: 15px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background: linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}
.contents.no_sidebar {
  width: 95%;
  margin: 0 auto;
  padding: 0px 0px 40px;
  float: none;
}
.contents.no_sidebar h3.title {
  margin: 80px 0 30px;
  color: #ff0000;
  font-size: 1.6em;
  text-align: center;
  border: none;
}
.contents.no_sidebar #sns {
  text-align: center;
  border-top: 1px dashed #ccc !important;
  padding: 30px 0;
  margin: 60px 0;
}
.contents.no_sidebar a {
  color: #2ca9e1;
}
.contents.no_sidebar .post-single-bookmarks {
  display: inline-block;
}
.contents.no_sidebar h2 {
  padding: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc !important;
  color: #666;
  text-align: center;
}
.contents {
  width: 69.25%;
  float: right;
  padding: 0 1.25%;
}
.contents .post h3 {
  color: #444;
  font-size: 1.1em;
  margin: 75px 0 30px;
  padding: 0 4px 0;
  line-height: 36px;
  border-bottom: 1px solid #ccc;
}
.contents .post h4 {
  color: #555;
  margin: 40px 0 20px;
  padding: 0 0 0 10px;
  line-height: 30px;
  border-left: 5px groove #ccc;
}
.contents .post li {
  list-style: square;
  margin-left: 1em;
}
.post-single-facebook {
  display: inline;
  float: left;
}
.post-single-hatena {
  display: inline;
  float: left;
  margin-right: 10px;
}
.post-single-twitter {
  display: inline;
  float: left;
  margin-right: -30px;
}
.post-single-mixi {
  margin-right: 10px;
  float: left;
  display: inline;
}
#pagenation {
  text-align: center;
  height: 15px;
  height: 9px;
  overflow: hidden;
  position: absolute;
  bottom: 6px;
  left: 50%;
}
#pagenation li {
  cursor: pointer;
  display: inline-block;
  height: 9px;
  width: 9px;
  margin-top: 3px;
  margin: 0 3px;
  background: #d5d5d5;
  text-indent: -9999px;
  float: left;
}
.single .thumb {
  float: left;
  padding: 1px;
  border: 1px solid #d5d5d5;
  margin: 0px 10px 10px 0px;
}
.single .post-single-bookmarks {
  float: right;
}
.single .head {
  border-bottom: 3px solid #09f;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-top: 3px solid #09f;
}
.single .post {
  padding: 0px;
}
.single .contents .meta {
  margin: 20px 0;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 0;
}
.single .contents .meta .metadate {
  margin-left: 10px;
  line-height: 1.2em;
}
.single .contents .meta .postdate {
  margin-left: 10px;
  line-height: 1.2em;
}
.single .contents .meta .comments {
  margin-left: 10px;
}
.single .title {
  font-weight: bold;
  margin: 15px 0;
  font-size: 1.2em;
}
#prev {
  float: left;
}
#prevBtn {
  position: absolute;
  top: 40%;
  left: 0;
  cursor: pointer;
  z-index: 9999;
}
/*-------------------------
  コメント
-------------------------*/
#comments {
  margin-top: 30px;
  border-radius: 5px;
}
#comments #respond {
  margin-top: 30px;
  border: 1px solid #C0C1C0;
  margin-bottom: 20px;
  background: #F2F2F2;
  padding: 5px;
}
#comments #respond #reply-title {
  background: #878787;
  line-height: 2em;
  margin: 0;
  color: #FFF;
  padding-left: 15px;
  border-bottom: 5px solid #FFF;
  font-size: 16px;
  font-weight: normal;
}
#comments #respond #commentform {
  background: #FFF;
  margin-bottom: 0;
}
#comments #respond #commentform p {
  clear: both;
  overflow: hidden;
  padding: 5px 20px 0;
  margin: 0;
  border-bottom: 1px solid #C0C1C0;
}
#comments #respond #commentform p label {
  float: left;
  width: 30%;
  line-height: 30px;
}
#comments #respond #commentform p .required {
  float: left;
  color: red;
  display: inline-block;
  margin-right: 4px;
}
#comments #respond #commentform p input,
#comments #respond #commentform p textarea {
  float: left;
  border: 1px solid #9A9CA4;
  box-shadow: none;
  margin-bottom: 5px;
}
#comments #respond #commentform p textarea {
  width: 66%;
}
#comments #respond #commentform .form-submit {
  text-align: center;
}
#comments #respond #commentform .form-submit #submit {
  float: none;
  margin-top: 6px;
  background: #FFF;
  line-height: 1.4em;
  text-decoration: none;
  border-radius: 3px;
  font-size: 14px;
  padding-top: 4px;
}
#comments #respond #commentform .logged-in-as {
  padding-bottom: 5px;
  font-size: 12px;
}
#comments ul {
  margin-left: 0;
}
#comments ul li {
  border: 1px solid #C0C1C0;
  margin-bottom: 20px;
  background: #F2F2F2;
  padding: 5px;
}
#comments ul li h4 {
  background: #878787;
  line-height: 2em;
  margin: 0;
  color: #FFF;
  padding-left: 15px;
  border-bottom: 5px solid #FFF;
  font-size: 16px;
}
#comments ul li .coments-meta {
  width: auto;
  background: #FFF;
  border-top: 1px solid #C0C1C0;
  border-bottom: 1px solid #C0C1C0;
  padding: 7px 15px 0;
  font-size: 9px;
}
#comments ul li .coments-meta p {
  margin-bottom: 5px;
}
#comments ul li .compost {
  background: #FFF;
  padding: 10px;
}
#commentform textarea {
  margin-bottom: 15px;
}
/*-------------------------
  トラックバック
-------------------------*/
#trackback {
  margin-top: 30px;
  border: 1px solid #C0C1C0;
  margin-bottom: 20px;
  background: #F2F2F2;
  padding: 5px;
}
#trackback input {
  width: 98%;
  height: 40px;
  margin-bottom: 0;
}
#trackback h3 {
  background: #878787;
  line-height: 2em;
  margin: 0;
  color: #FFF;
  padding-left: 15px;
  border-bottom: 5px solid #FFF;
  font-size: 16px;
  font-weight: normal;
}
/*-------------------------
  フェイスブックコメント
-------------------------*/
/*============================
##アーカイブ ページ
============================*/
.search .contents,
.archive .contents {
  margin-bottom: 40px;
}
.search .contents h3.archive-title,
.archive .contents h3.archive-title {
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 13px;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  font-weight: bold;
}
.search .contents .span11.offset1,
.archive .contents .span11.offset1 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.search .contents p.post-footer,
.archive .contents p.post-footer {
  text-align: right;
  padding-right: 20px;
  margin-bottom: 20px;
}
.search .contents p.meta span,
.archive .contents p.meta span {
  display: inline-block;
}
.search .contents.right_sidebar,
.archive .contents.right_sidebar {
  float: left;
  overflow: hidden;
}
/*============================
#モジュール

- - -

モジュールのCSSです。

============================*/
/* 
#ウィジェット見出し設定
*/
.widgettitle img {
  margin: 10px 0;
}
.widgettitle span {
  float: right;
  margin-right: 0.5em;
}
.widgettitle .wrap-button {
  font-size: 12px;
  width: 120px;
  display: block;
  height: 20px;
}
.widgettitle .wrap-button .button {
  margin-top: 6px;
  height: 15px;
  background: #FFF;
  line-height: 1.2em;
  text-decoration: none;
}
.contents .widgettitle {
  font-size: 16px;
  line-height: 37px;
  border-bottom: 1px solid #CCC !important;
  border-right: none !important;
  border-left: none !important;
  padding-left: 15px;
  border-top: 3px solid #09f;
  background: #f5f5f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #eeeeee, #ffffff);
  background: -moz-linear-gradient(center bottom, #eeeeee 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}
.sidebar .widgettitle,
.footer .widgettitle {
  border-bottom: medium none!important;
  border-left: medium none !important;
  border-right: medium none !important;
  border-top: medium none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 100;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  width: 96.3%;
  margin: 0;
  margin-left: -1px;
  padding-top: 0;
}
#sub #s,
.footer #s {
  width: 75%;
  background: #FFF;
}
/*============================
##プロフィールウィジェット
============================*/
.widget img {
  max-width: 100%;
}
.widget img.aligncenter {
  margin: 10px auto;
  display: block;
}
.widget .description {
  width: 90%;
  margin: 10px auto;
}
.widget a.button {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #dddddd;
  width: 90%;
  color: #333;
  margin: 10px auto 15px;
  border-radius: 5px;
  padding: 5px 0;
  text-decoration: underline;
}
.widget a.button:hover {
  color: #888;
}
/*============================
##動画ウィジェット
============================*/
.movie-text-area {
  text-align: left;
}
.movie-text-area a.button {
  margin-left: 0;
  text-decoration: none;
}
/*============================
##バナーウィジェット
============================*/
.contents .banner,
.sidebar .banner,
.footer .banner {
  margin-bottom: 15px;
  max-width: 100%;
  height: auto;
  width: auto;
}
.widget.widget_categories ul {
  width: 95%;
  margin: 5px auto;
}
.widget.widget_categories ul li a {
  background: url(../images/side_category_folder_icon.png) no-repeat left center;
  margin-left: 10px;
}
#related {
  margin-top: 30px;
  margin-bottom: 30px;
}
#related h3 {
  font-weight: bold;
  border-bottom: 3px solid #09f;
}
#related ul {
  padding: 15px;
  padding-top: 10px;
}
#related ul li {
  padding-top: 0.5em;
}
#related ul li a {
  color: #09f;
  background: url(../images/navi_icon.png) no-repeat left center;
  padding-left: 14px;
}
.textwidget {
  padding: 8px 0;
}
/*============================
#レイアウトブロック設定

============================*/
/*============================
##ヘッドライン
============================*/
.contents .headline.center {
  text-align: center;
}
.contents .headline {
  clear: both;
  background: #fafafa;
  background: -moz-linear-gradient(top, #fafafa 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #fafafa), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, #fafafa 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-linear-gradient(top, #fafafa 0%, #f6f6f6 47%, #ededed 100%);
  background: -ms-linear-gradient(top, #fafafa 0%, #f6f6f6 47%, #ededed 100%);
  background: linear-gradient(to bottom, #fafafa 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
}
.contents .headline .custom-title {
  border-top-width: 5px;
  border-top-style: solid;
  padding-left: 15px;
  padding-top: 0.8em;
  overflow: hidden;
  text-align: left;
  padding-bottom: 1em;
  margin-top: 0px;
  margin-bottom: 10px;
}
.contents .headline .custom-title p {
  line-height: 1em;
}
.contents .headline .custom-title em {
  display: inline;
  font-size: 12px;
  color: #999;
}
.contents .divider {
  display: block;
}
.contents .divider .solid {
  border-bottom: 2px solid #000;
  margin: 20px 0;
}
.contents .divider .dotted {
  border-bottom: 2px dotted #000;
  margin: 20px 0;
}
.contents .divider .double {
  border-bottom: 2px double #000;
  margin: 20px 0;
}
.contents .divider .dashed {
  border-bottom: 2px dashed #000;
  margin: 20px 0;
}
.contents .divider .groove {
  border-bottom: 2px groove #000;
  margin: 20px 0;
}
.contents .divider .trans {
  border-bottom: 2px trans #000;
  margin: 20px 0;
}
/*============================
##お申込み
============================*/
.row-fluid.signup .span8 .text-center {
  text-align: center;
}
.row-fluid.signup .span8 .text-center a {
  line-height: 1em;
  color: #FFF;
  font-size: 20px;
  padding: 10px 12px;
  margin-top: 20px;
  display: inline-block;
}
.row-fluid.signup .span8 .text-center a:hover {
  opacity: 0.8;
  text-decoration: none;
}
/*============================
##ハーフブロック
============================*/
.half-block {
  width: 48%;
  margin-left: 10px;
  overflow: hidden;
  float: left;
}
.half-block img {
  max-width: 100%;
  margin: 10px auto;
}
.half-block:after {
  content: '';
  clear: both;
}
.clear-fix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/*============================
##パンくず
============================*/
.contents .row-fluid.bread-crumb {
  font-size: 12px;
  margin-bottom: 20px !important;
}
.contents .row-fluid.bread-crumb a {
  text-decoration: underline;
}
/*============================
##お問い合わせ
============================*/
.row-fluid.contact .span12 {
  margin-left: 0;
}
.row-fluid.contact .span12 form table.row-fluid tbody tr.row-fluid th.span4 {
  background: #e8e8e8;
  border: 1px solid #ccc;
  text-align: left;
  padding: 10px;
}
.row-fluid.contact .span12 form table.row-fluid tbody tr.row-fluid td.span8 {
  border: 1px solid #ccc;
  padding: 10px;
}
.row-fluid.contact .span12 form table.row-fluid tbody tr.row-fluid td.span8 textarea {
  width: 95%;
}
.row-fluid.contact .span12 form p.submit {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.row-fluid.contact .span12 form p.submit input.btn {
  width: 50%;
}
/*============================
##ソーシャルボタン
============================*/
.row-fluid .social {
  padding: 10px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin: 20px 0;
}
.show_bar {
  border-bottom: 2px solid #e8e8e8;
  margin-bottom: 10px;
}
/*============================
##Clear-fix
============================*/
.clear-fix {
  display: inline-block;
}
* html .clear-fix {
  height: 1%;
}
.clear-fix {
  display: block;
}
