.content-layout-blocks {
	position: relative;
}

.rm_input .content-layout-blocks {
}

.content-layout-block.add-area-wrapper {
	cursor: pointer;
}
.rm_input .content-layout-block {
	padding: 11px 12px;
}
.content-layout-block label {
	display: block;
	float: left;
	width: 200px;
	font-weight: 700;
	font-size: 12px;
}

.content-layout-block.fixed {
	cursor: default;
}

/* clearfix */
.content-layout-block:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
2	content: " ";
	font-size: 0;
}

* html .content-layout-block             { zoom: 1; }
*:first-child+html .content-layout-block { zoom: 1; }
/* clearfix */

.add-area-wrapper {
	clear:both;
	overflow: visible;
	margin:20px 0 10px;
	height: 30px;
}

.add-area-wrapper a.button {
	margin-left:3px;
	padding: 10px 12px 6px;
	height: auto;
	border:none;
	line-height: 1em;
	-webkit-border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px;
	border-radius:4px 4px 4px 4px;
	background: #0074A2;
	border-bottom: 5px solid #005070;
	color:#fff;
	transition: background ease-in 0.1s
;
	outline: none;
}

.add-area-wrapper a.button:hover {
	background: #0089BF;
	color: #FFF;
	border-bottom-color: #00709C;
}


.add-area-wrapper a.button:active{
	border-bottom: 0px;
	margin-top: 5px;
}
.areas {
	position: relative;
	top: -528px;
	left: 130px;
	z-index: 100000;
	width: 250px;
	/* border: 1px solid #344F98; */
	border-bottom: 4px solid #344F98;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #3098C1;
	padding: 7px;
	box-shadow: 0px 3px 3px rgba( 0,0,0,0.3 );
}

.areas > a {
	display: block;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #4D8AB7;
	background: #3A9FC7;
	line-height: 2.4em;
	padding-left: 0.9em;
	outline: none;
}

.areas > a:hover {
	-webkit-border-radius:3px 3px 3px 3px;
	-moz-border-radius:3px 3px 3px 3px;
	border-radius: 0px;
	background: #0C537C;
	color: #FFF;
}

.content-layout-block h5 {
	display:inline-block;
	margin:6px 0 10px;
	padding: 4px 8px 8px;
	width: 100%;
	vertical-align: middle;
	-webkit-border-radius:1px 1px 1px 1px;
	-moz-border-radius:1px 1px 1px 1px;
	border-radius: 0px;
	color:#232323;
	font-size: 14px;
}

.content-layout-block h6 {
	top: 7px;
	right: 0;
	left:1px;
	margin: 0;
	color:#111;
	text-align:left;
	text-transform:uppercase;
	letter-spacing:0.3px;
	font-weight:normal;
	font-size: 13px;
	background: #344F98;
	line-height: 2em;
	padding-left: 12px;
	margin-bottom: 10px;
	color: #FFF;
	border-radius: 1px;
	border-left: 3px solid #6783CC;
	box-shadow: 1px 1px 1px rgba( 0,0,0,0.2),-1px 1px 1px rgba( 0,0,0,0.2);
}
.chzn-container-single .chzn-drop{width: 198px!important;}
.content-layout-block select {
	width:100%;
}
.chzn-container {
	min-width:200px;
	width:95%;
}
.chzn-container .chzn-results .active-result {
	line-height: 18px;
}

.content-layout-block input[type="radio"] {
	display: none;
}

.content-layout-block .radio-label {
	padding: 3px 5px;
	width:auto;
	color:#171717;
	text-align: center;
}

.content-layout-block .radio-label.active {
	padding: 3px 5px;
	border: 1px solid #aaa;
	-webkit-border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	background-color: #FFF;
	color:#171717;
}
.content-layout-block .radio-label.active {
	margin-right:2px;
}

.content-layout-block .field {
	float: left;
	margin-top: 6px;
	margin-right: 10px;
	padding-top: 6px;
	padding-right: 2%;
	padding-bottom: 25px;
	min-width:170px;
	width:35%;
	border-right:0px solid #eaeaea;
}

.content-layout-block .field:last-child {
	margin-right: 0;
}

.content-layout-block .field.radio {
	padding-top: 28px;
	/* height: 20px; */
	text-align: center;
}

.content-layout-block .fields {
	margin: 0 auto;
	width: 97%;
}

.content-layout-block .remove-block {
	position: absolute;
	top:0px;
	right:0px;
	overflow: hidden;
	padding: 0;
	width: 21px;
	height: 21px;
	-webkit-border-radius:0 0 0 0;
	-moz-border-radius:0 0 0 0;
	border-radius:0 0 0 0;
	background:url("close.png") top left no-repeat #333;
	color: #fff;
	text-align: center;
	text-indent:-999px;
	font-weight: bold;
	font-size: 13px;
	line-height: 21px;
	cursor: pointer;
}

.content-layout-block .minimize-block {
	position: absolute;
	top:0px;
	right:44px;
	overflow: hidden;
	padding: 0;
	width: 21px;
	height: 21px;
	-webkit-border-radius:0 0 0 0;
	-moz-border-radius:0 0 0 0;
	border-radius:0 0 0 2px;
	background:url("minimize.png") top left no-repeat #333;
	color: #fff;
	text-align: center;
	text-indent:-999px;
	font-weight: bold;
	font-size: 13px;
	line-height: 21px;
	cursor: pointer;
}

.content-layout-block .maximize-block {
	position: absolute;
	top:0px;
	right:22px;
	overflow: hidden;
	padding: 0;
	width: 21px;
	height: 21px;
	-webkit-border-radius:0 0 0 0;
	-moz-border-radius:0 0 0 0;
	border-radius:0 0 0 0;
	background: #555;
	background:url("maximize.png") top left no-repeat #333;
	color: #ddd;
	color: #fff;
	text-align: center;
	text-indent:-999px;
	font-weight: bold;
	font-size: 13px;
	line-height: 21px;
	cursor: pointer;
}

.content-layout-block .remove-block:hover {
	background:url("close.png") top right no-repeat #000;
}
.content-layout-block .minimize-block:hover {
	background:url("minimize.png") top right no-repeat #000;
}
.content-layout-block .maximize-block:hover {
	background:url("maximize.png") top right no-repeat #000;
}
.content-layout-block .field {
	display:none;
}
.content-layout-block .field.textarea {
	clear: both;
	width: 35%;
}

.content-layout-block textarea {
	width: 93%;
}

input.colorfield {
	width: 65px;
}

.content-layout-block select[multiple] {
	min-height: 40px;
	width: 93%;
}

/* custom */

div.field input, div.rm_input input {
	border-color:#aaa;
}
div#vertex-posts .smart-meta-field-wrp {
	margin-bottom:23px;
}
div#vertex-posts .smart-meta-field-wrp h4 {
	margin-bottom:6px;
	margin-left:1px;
}
.smart-meta-field label.radio-label {
	margin:0 2px 0;
}
.smart-meta-field label.radio_image {
	display:inline-block;
	width:45px;
	height:36px;
	border:solid 2px #ccc;
	text-indent:-999px;
	box-sizing: border-box;
}
.smart-meta-field label.radio_image:hover {
	border:solid 2px #000;
}
.smart-meta-field label.sidebar_layout_no_sidebar {
	background:url('../../../../../../../assets/images/admin/1col.png') center center no-repeat;
}
.smart-meta-field label.sidebar_layout_right_sidebar {
	background:url('../../../../../../../assets/images/admin/2cr.png') center center no-repeat;
}
.smart-meta-field label.sidebar_layout_left_sidebar {
	background:url('../../../../../../../assets/images/admin/2cl.png') center center no-repeat;
}
.smart-meta-field label.radio_image input {
	display:none;
}
.smart-meta-field label.radio-label input {
	margin:0 5px;
}

#sidebar-select select {
	width:95%;
}
.chzn-container-single .chzn-single select {
	width:93%;
}

.content-layout-block .field.width {
	position: absolute;
	top: 0;
	right:0;
	display:block;
	margin-top: 0;
	margin-right: 0;
	margin-bottom:0;
	padding:0;
	padding-top: 0;
	padding-bottom:0;
	min-width:20px;
	width:110px;
	border:none;
}

.content-layout-block .field.width .chzn-single {
	padding-right:6px;
	width:20px;
	height:19px;
	border:none;
	-webkit-border-radius:0 0 0 0;
	-moz-border-radius:0 0 0 0;
	border-radius:0 0 0 0;
	background:#CCC;
	color:#222;
	line-height:21px;
}
.content-layout-block .field.width .chzn-container-single {
	max-width:20px;
	width:20px;
}
.content-layout-block .field.width .chzn-container-single .chzn-single span {
	margin-right:0;
}
.content-layout-block .field.width select {
	max-width:66px;
	width:66px;
}
.content-layout-block .field.width .chzn-container .chzn-results {
	border-top:solid 0px #ccc;
}
.content-layout-block .field.width .chzn-container-single .chzn-drop {
	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
}
.content-layout-block .field.width .chzn-container-single .chzn-single div {
	width:0;
	border:none;
	-webkit-border-radius:0 0 0 0;
	-moz-border-radius:0 0 0 0;
	border-radius:0 0 0 0;
}

.content-layout-block .field.width h6 {
	display: none;
}
.block-separator:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: " ";
	font-size: 0;
}
.block-separator {
	position: relative;
	visibility:visible;
	overflow: hidden;
	margin: 0 0.25% 7px;
	padding: 5px 0 2px;
	width: 99%;
	height:22px;
	border: medium none;
	border-radius: 2px 2px 2px 2px;
	background: url("content_bg.png") no-repeat scroll center top #FFFFFF;
	color:#fff;
	text-indent: 12px;
	font-size: .8em;
	cursor: row-resize;
}
.block-half {
	float: left;
	margin: 0 0.25% 7px;
	width: 47.5%;
}
.content-layout-block.one-sixth {
	float: left;
	margin: 0 0.25% 7px;
	width: 14.16%;
}
.content-layout-block.one-fifth {
	float: left;
	margin: 0 0.25% 7px;
	width: 17.5%;
}
.content-layout-block.one-fourth {
	float: left;
	margin: 0 0.25% 7px;
	width: 22.5%;
}
.content-layout-block.one-third {
	float: left;
	margin: 0 0.25% 7px;
	width: 30.81%;
}
.content-layout-block.two-fifths {
	float: left;
	margin: 0 0.25% 7px;
	width: 37.5%;
}
.content-layout-block.one-half {
	float: left;
	margin: 0 0.25% 7px;
	width: 47.5%;
}
.content-layout-block.three-fifths {
	float: left;
	margin: 0 0.25% 7px;
	width: 57.5%;
}
.content-layout-block.two-thirds {
	float: left;
	margin: 0 0.25% 7px;
	width: 64.17%;
}
.content-layout-block.three-fourths {
	float: left;
	margin: 0 0.25% 7px;
	width: 72.5%;
}
.content-layout-block.four-fifths {
	float: left;
	margin: 0 0.25% 7px;
	width: 79.5%;
}
.content-layout-block.five-sixths {
	float: left;
	margin: 0 0.25% 7px;
	width: 82.5%;
}
.content-layout-block .description {
	float: none;
	clear: both;
	margin:25px 0 -9px;
	padding:0;
	padding-top:0;
	max-width:750px;
	width:98%;
	border:none;
}
.content-layout-block .description h6 {
	position:relative;
	top:0;
	color:#555;
	text-transform:none;
	letter-spacing:0;
	font-size:1em;
	line-height:1.7;
	background: none;
	box-shadow: none;
}

.content-layout-block .desc {
	display:none;
	float:left;
	margin:17px 0;
	/* padding-top:12px; */
	/* width:59%; */
}
.content-layout-block.maximize-active .desc {
	display:block;
}
.content-layout-block .desc p {
	position:relative;
	top:10px;
	margin:0;
	color:#555;
	font-size:.95em;
}
.content-layout-block .field_wrap {
	padding: 0;
	border-top: 1px solid #e8e8e8 !important;
/*	margin-left: 2%;
	margin-right: 2%;*/
	/*width: 40%;*/
	/*float: left;*/
	/*display: inline-block;*/
	background: #FFF;
	padding: 0px 10px 10px 10px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2  );
	        box-shadow: 0 1px 1px rgba(0,0,0,0.2  );
}

.content-layout-block .field_wrap:first-child {
	/*margin-left: 2%;*/
	background: none;
	/*margin-right: 2%;*/
	min-height: 30px;
	/*width: 40%;*/
	border-top: 5px solid #eee;
	border-top: 0px solid #e3e3e3 !important;
}

/* content editor */
.content-layout-block input[type="text"] {
	width: 93%;
}
.content-layout-block input.colorfield {
	width:70px;
}
.smart-meta-field span.description {
	position:absolute;
	left:333px;
	margin-top:5px;
}
.postbox {
	margin-right: 50px;
	padding-bottom:15px;
}

.maximize-active .field {
	display:block;
}
.content-layout-block.maximize-active {
	overflow:visible;
	width: 100%;
	height: auto;
	/* box-shadow: 0 0 10px #BBB; */
}
.content-layout-block.maximize-active:active {
	background: none;
	background-color: #f3f3f3;
	box-shadow: 0 0 0 #FFF inset;
}
.content-layout-block.maximize-active h5 {
	border-bottom: 5px solid #CCC;
	background: #;
	color: #000;

}

.content-layout-block.maximize-active .field.width {
	right:111px;
}
.content-layout-block.maximize-active input[type="text"] {
	padding:0 5px;
	width:93%;
	height:35px;
}
div#brainbuzz-page input[type="text"] {
	width:100px;
	height:30px;
}
.content-layout-block.maximize-active select {
	padding:0 5px;
	width:93%;
	height:35px;
}
.media-upload-inputbox {
	float:left;
	margin-right:9px;
}
.media_upload_button {
	-webkit-border-radius:3px 3px 3px 3px;
	-moz-border-radius:3px 3px 3px 3px;
	border-radius:3px 3px 3px 3px;
}

.btn-block + .btn-block {
	margin-top: 5px;
}
button.btn, input[type="submit"].btn {
}
.content-layout-block {
	position: relative;
	display: block;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin:0 0.25% 7px;
	padding:10px 1%;
	padding: 0px;
	width: 100%;
	height: 40px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-color: #e4e4e4;
	border-radius: 1px;
	background-color: #f3f3f3;
	background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
	color: #333333;
	vertical-align: middle;
	text-align: left;
	font-size: 12px;
	cursor: row-resize;
	-webkit-transition: background ease-in 0.1s;
    -moz-transition: background ease-in 0.1s;
    -ms-transition: background ease-in 0.1s;
    -o-transition: background ease-in 0.1s;
	transition: background ease-in 0.1s;
}
.content-layout-block.maximize-active:active{
	position: relative;
	display: block;
	margin:0 0.25% 7px;
	padding:11px 1%;
	padding: 0px;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-color: #c5c5c5;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	background-color: #f3f3f3;
	vertical-align: middle;
	text-align: left;
}
.content-layout-block.maximize-active:active h5{
	color: #252525;
}
.content-layout-block:active {
	background-color: #363636;
	background-image: -moz-linear-gradient(top, #333333, #333333);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#333333));
	background-image: -webkit-linear-gradient(top, #333333, #333333);
	background-image: -o-linear-gradient(top, #333333, #333333);
	background: #0074A2;
	background-repeat: repeat-x;
	color: #FFF;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
}
.content-layout-block:active h5{
	color: #FFF;
}

#custom-seo .smart-meta-field span.description{
	left: 500px;
}

.section-upload img{
	max-width: 400px;
}
