/*============================
##パンくず
============================*/
.contents .row-fluid.bread-crumb {
		font-size: 12px;
		margin-bottom: 20px !important;
		a{
				text-decoration: underline;
		}
}

