/**
 * ===============================
 * Contact Form Fields
 * ===============================
 */
.contact-form {
	form {
		table {
			tbody {
				tr {
					th {
						background: #f5f5f5;
						border: 1px solid #e8e8e8;
						text-align: left;
						padding: 10px;
						label.span4 {
						}
					}
					td {
						border: 1px solid #e8e8e8;
						padding: 10px;
						span {
						}
						textarea {
							width: 95%;
						}
					}
				}
			}
		}
		.submit {
			width: 100%;
			text-align: center;
			margin-top: 20px;
			margin-bottom: 20px;
			.btn{
				width: 50%;
			}
		}
	}
}
