/**
 * ===============================
 * Divider Fields
 * ===============================
 */
.divider {
	display: block;
	.solid {
		border-bottom: 2px solid #000;
		margin: 20px 0;
	}
	.dotted{
		border-bottom: 2px dotted #000;
		margin: 20px 0;
	}
	.double{
		border-bottom: 2px double #000;
		margin: 20px 0;
	}
	.dashed{
		border-bottom: 2px dashed #000;
		margin: 20px 0;
	}
	.groove{
		border-bottom: 2px groove #000;
		margin: 20px 0;
	}
	.trans{
		border-bottom: 2px trans #000;
		margin: 20px 0;
	}
}
