/**
 * ===============================
 * Half Block Fields
 * ===============================
 */
.row-fluid .half-block.span12 {
	width: 48.667089%;
	margin-left: 10px;
	overflow: hidden;
	float: left;
	img{
		max-width: 100%;
		margin: 10px auto;
	}
}

@media (max-width: 767px) {
	.row-fluid .half-block.span12 {
		width: auto;
		margin-left: 10px;
		overflow: hidden;
		float: none;
		img{
			max-width: 100%;
			margin: 10px auto;
		}
	}
}
