/**
 * ===============================
 * Choose Image
 * ===============================
 */
.headline{
	&.center {
		text-align: center;
	}
	&.no_border{
		border: none !important;
		.custom-title {
			border: none !important;
		}
	}
	background: rgba(250,250,250,1);
	background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,250,250,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
	.custom-title {
		border-top-width: 5px;
		border-top-style: solid;
		padding-left: 1em;
		padding-top: 0.8em;
		overflow: hidden;
		text-align: left;
		padding-bottom: 0.3em;
		margin-top: 0px;
		margin-bottom: 10px;
		p{
			line-height: 1em;
		}
		em {
			display: inline;
			font-size: 12px;
			color: #999;
		}
	}
}
