/*============================
##お申込み
============================*/

.signup {
	margin-top: 20px;
	overflow: hidden;
	.span16 {
		p {
		}
		.text-center{
			text-align: center;
			a {
				line-height: 1em;
				color: #FFF;
				font-size: 20px;
				padding: 10px 12px;
				margin-top: 20px;
				display: inline-block;
				&:hover {
					opacity: 0.8;
					text-decoration: none;
				}
			}
		}
	}
}
