/*============================
##ソーシャルボタン
============================*/
.social{
	padding: 10px;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	margin: 20px 0;
}

.show_bar {
	border-bottom: 2px solid #e8e8e8;
	margin-bottom: 10px;
}

.contents .ads-banner-widget{
		overflow: hidden;
		.alignleft{
				float: left;
				display: block;
				margin-right: 20px;
		}
		.alignright{
				float: right;
				display: block;
				margin-left: 20px;
		}
		.description{
				margin: 10px 0;
		}
}

