/**
 * sqeeze
 */
.squeeze-title{
		line-height: 2.2em;
		color: #FFF;
		text-align: center;
		font-size: 16px;
		margin-bottom: 0;
}
.squeeze-box{
		border-left: 6px solid;
		border-right: 6px solid;
		border-bottom: 6px solid;
		border-top: none;
		margin-top: 0;
		padding-top: 20px;
		padding-left: 40px;
		padding-right: 40px;
		overflow: hidden;
		.text.form-icon{
				background: url(../images/footer_list_icon.png) no-repeat left center;
				padding-left: 12px;
				vertical-align: middle;
				width: 46%;
				float: left;
				.text{
						width: 56%;
						margin-bottom: 0;
				}
		}
		.text-center{
				text-align: center;
		}
}


@media (max-width: 767px) {
	/*sqeeze*/
	.squeeze-title{
			line-height: 2.2em;
			color: #FFF;
			text-align: center;
			font-size: 16px;
			margin-bottom: 0;
	}
	.squeeze-box{
		border-left: 6px solid;
		border-right: 6px solid;
		border-bottom: 6px solid;
		border-top: none;
		margin-top: 0;
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 40px;
		overflow: hidden;
		.text.form-icon{
			background: url(../images/footer_list_icon.png) no-repeat left 0.4em;
			padding-left: 12px;
			vertical-align: middle;
			width: 100%;
			float: none;
			.text{
				width: 100%;
				margin-bottom: 0;
			}
		}
		.text-center{
			text-align: center;
		}
	}
}
