/**
 * Template Field
 */
.template-text{
	.row-fluid{
		margin-top: 1em;
		padding: 1em;
	}
	p{
		text-align: center;
		display:block;
		a{
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
