.video_embed{
	margin-top: 1em;
	margin-bottom: 1em;
	.left{
		iframe{
			float: left;
		}
	}
	.right{
		iframe{
			float: right;
		}
	}
	.center{
		iframe{
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
}
